[2017-12-19 13:02] dhakehurst opened #627 "Integrate Java Software Model"
I am trying out the Java Software Model [https://docs.gradle.org/current/userguide/java_software.html]

e.g.
apply plugin: 'jvm-component'
apply plugin: 'java-lang'

the buildship plugin for eclipse doesn't recognise my gradle project as a java project.

[2017-12-19 16:03] oehme commented on #627
The java software model is [no longer being developed](https://blog.gradle.org/state-and-future-of-the-gradle-software-model), so we won't offer support for it.

[2017-12-19 16:03] #627 closed

[2017-12-21 09:46] donat commented on #383
We've implemented the fix for the problem.

@DerMuedeJoe Can you please [install](https://github.com/eclipse/buildship/blob/master/docs/user/Installation.md) the latest 2.2.1 snapshot and evaluate if it works for you?

[2017-12-21 09:46] #383 closed

[2017-12-21 09:47] donat commented on #622
We've implemented the fix.

@regrog Can you please [install](https://github.com/eclipse/buildship/blob/master/docs/user/Installation.md) the latest 2.2.1 snapshot and evaluate if it works for you?

[2017-12-22 10:24] lukeu commented on #617
Sweet, thanks. Removing the m2e nature at the point a Gradle project is explicitly imported looks like a generally good idea. I imagine this could eliminate a range of other potential issues also if that m2e nature slips in unnoticed.

kellemes ünnepeket!

[2017-12-22 10:27] donat commented on #617
I think I forgot to add a notice here. we've [fixed](https://github.com/eclipse/buildship/pull/619) Buildship so that it won't give you a stack overflow error. Nonetheless, you have to be super careful because both Buildship and M2E are competing to define the runtime classpath when launching a main class in Eclipse.

[2017-12-22 11:14] lukeu commented on #617
So that fixes the "had a Gradle project, import as Maven" also? Nice. (In my case it's probably just a slip-up / oversight. I've learnt to try and switch 'cleanly' during our protracted M->G transition.) However, great to eliminate this snag for new adopters of Gradle.

[2017-12-22 11:58] regrog commented on #622
It seems to work.
Great!

[2017-12-29 06:48] simonjhy opened #629 "Buildship can't rename child project name in nested gradle project."
I created a parent gradle project and it had two child projects. When I renamed any child project name, buildship always restored to its name original value.

[2017-12-29 14:52] tbrannt opened #630 "Mark Gradle's build directories as derived resources"
Reopening https://jira.spring.io/browse/STS-2832

I came across the exact problem described in STS-2832 while using buildship. However this issue was closed with a hint to reopen it here.

[2018-01-01 15:10] sharpaw commented on #601
Hi, when will this fix be released? using latest eclipse oxygen 4.7.2 and I`m getting this problem ...
![error](https://user-images.githubusercontent.com/35003803/34468667-971e1b2c-ef16-11e7-906f-8d36291e45fa.png)

[2018-01-01 17:56] oehme commented on #630
They are already marked as derived. If this is not working for you, can you please provide a reproducible example project?

[2018-01-02 13:08] donat commented on #629
Buildship updates Gradle projects based on their configuration. To rename your child project add the following line to your `settings.gradle` file.

    project(':child').name = 'custom-child-project'

Or, if you only want to customize the Eclipse project layout you can paste the following snippet into the child project's build script:

    apply plugin: 'eclipse'

    eclipse {
        project {

[2018-01-02 13:13] donat commented on #601
@sharpaw We have released the fix after we could contribute to the Oxygen.2 release. You should [update](https://github.com/eclipse/buildship/blob/master/docs/user/Installation.md) Buildship manually.

[2018-01-02 13:26] donat commented on #626
It's a bit interesting that the git plugin only allows the users to use the _new_, but not the _import_ wizards. In the case of Buildship, the _new_ wizard is designed only to generate template projects, the real import functionality is available in the _import_ wizard.

I'd suggest using the 'import as general projects' option in the git wizard, then adding the Gradle nature to the root project (

[2018-01-02 13:26] #626 closed

[2018-01-02 15:29] donat opened #631 "Product Customizations for Gradle Preferences are Ignored"
Daniel Johnson [reported](https://bugs.eclipse.org/bugs/show_bug.cgi?id=529152):

The problem is that the Buildship preference loading [uses](https://github.com/eclipse/buildship/blob/master/org.eclipse.buildship.core/src/main/java/org/eclipse/buildship/core/configuration/internal/WorkspaceConfigurationPersistence.java#L78) the `INSTANCE` scope, that ignores the product customization.

To have the

[2018-01-02 17:16] sharpaw commented on #601
Thanks! I confirm it works just fine after updating Buildship from Marketplace.

[2018-01-03 01:44] simonjhy commented on #629
can buildship provide some apis that can automatically bridge the eclipse rename action to buildship update its settings.gradle or child project's build script?

[2018-01-03 08:01] donat commented on #629
No, and I think it should not. The main design principle for Buildship is that the build script is the main source of truth. The closer the Eclipse workspace state to the Gradle build configuration the better.

[2018-01-03 09:17] guss77 commented on #626
I think there is some confusion here about what is an "Import wizard" and what its supposed to do - which is, IMO, to import things from outside the Eclipse workspace. To adopt things that are already in the workspace directory and just not listed as a project in Eclipse, you use the "new project wizard".

This is how it works for the Java toolkit, the PHP toolkit, the DLTK and any toolkit I've ev

[2018-01-03 15:39] gamerson commented on #629
hey @donat   I agree with your last statement.  Gradle build configuration is in charge of the project name.  However, IMHO we need to do something about the 'rename' refactoring action in eclipse.  This is one thing that I have seen buildship users struggle with.  They hit 'F2' or "rename" action and Eclipse lets them try to rename the project, and then buildship renames the project back, accordi

[2018-01-04 10:38] donat opened #632 "Show full path to project in Gradle Tasks view"
[Report](https://bugs.eclipse.org/bugs/show_bug.cgi?id=529350) from Scott Warner:

[2018-01-04 10:40] donat commented on #632
I generally like the idea as it would also make it easier to filter on the tasks. Let's see how many people are going to 👍 this issue or if there's somebody in the community wants to implement it. In the latter case, we're happy to help get started.

[2018-01-04 13:19] donat commented on #626
Thanks for the explanation. I think your proposal makes sense. I'll create a separate issue
 summarizing the expected behavior.

[2018-01-04 13:44] donat opened #633 "New project wizard should import existing projects too"
## Expected behavior

The _New Gradle Project_ wizard should let the users import already existing projects.

## Current behavior

The wizard shows a `Target project directory already exists` error message.

## Context

Historically, the _New Gradle Project_ wizard was introduced only to generate template projects by invoking the `init` task. The task execution fails when executed at a non-empty l

[2018-01-04 13:55] donat commented on #629
@gamerson I agree, we should have something like that. Interrupting the rename command sounds good to me.

FYI at the moment, I'm working on a Buildship refactoring where we replace the dialogs that pop up upon failed synchronization with the error markers. It might make sense to introduce a warning marker on the projects with out-of-sync names.

There are many other things I have to implement at

[2018-01-04 16:32] gamerson commented on #629
That is something that we should be able to try to help out with.

On Thu, Jan 4, 2018 at 7:55 AM, Donát Csikós <notifications@github.com>
wrote:

--
Greg Amerson
Liferay Backend Developer Tools
Liferay, Inc. www.liferay.com

[2018-01-05 16:57] donat commented on #543
Hi! Sorry for the late reply. Where do those project natures come from? I've run a quick test and if I declare the build commands in the build script, then the ordering stays stable.
[code]

[2018-01-05 16:57] #543 closed

[2018-01-05 17:53] mauromol commented on #543
I'm not the reporter, but I suppose these are "custom" build commands which Buildship now (correctly) keeps as per #392. Probably, if in this case ordering is important, the only way to go is to declare them in the build script...

[2018-01-05 19:16] TTTThomas commented on #543
[code]

Works for me.

Thanks.

[2018-01-06 13:55] scompo commented on #488
Has the site chaged to e48?
I was having the same problem and changed to this version, it's now updating fine.

[2018-01-08 09:04] donat commented on #543
@mauromol That is correct.
@TTTThomas  I'm glad you've found the solution.

[2018-01-08 15:26] staffanf commented on #622
This hit us too with the latest Buildship just before xmas. Took me us a while to find the reason since this  bug is closed and not visible in issues anymore.
Anyway, we updated to snapshots and now it works. Hoping for a fix release soon so we don't have to rely on snapshots.

[2018-01-08 15:32] donat commented on #622
@staffanf I'm glad the snapshot version works for you. We are planning to publish 2.2.1 next week.

FYI we use separate feature branches for the development and for the reviews, so the sources of the snapshot releases are pretty stable.

[2018-01-08 15:43] staffanf commented on #249
@oehme I noticed that this issue does contain the complete feature request from the bugzilla issue linked by @donat . This issue description does not cover JavaExec debugging which for me is more interesting than debugging unit tests.
Either this issue should be expanded to cover JavaExec's or a another issue should be created. Which one do you prefer?
Also I'd like to push for looking at this sin

[2018-01-09 16:46] donat commented on #249
Hi @staffanf!  So I would just create a new issue GitHub issue with the explanation of the desired behavior and with a reference to this issue.

It would be awesome if the users could execute Gradle builds in debug mode within Eclipse. It's certainly a complex story to implement, so let us know if you need any help, we are happy to support your effort.

I think there are two ways to go. You could

[2018-01-10 15:27] #227 closed

[2018-01-10 15:28] #548 closed

[2018-01-10 15:29] donat commented on #548
@mauromol Can you please give the latest snapshot a try?

[2018-01-11 08:33] mauromol commented on #548
Hi Donat, I tried this with Buildship 2.2.1.v20180108-2312-s and I now find entries in {{org.eclipse.buildship.core.prefs}} sorted in alphabetical order and without any leading timestamp, so I would say this has actually been fixed, thank you! 👍

When do you plan to release 2.2.1 final version?

[2018-01-11 08:34] donat commented on #548
Thanks for checking! The plan is to publish 2.2.1 early next week.

[2018-01-11 08:38] donat commented on #568
https://github.com/eclipse/buildship/pull/635 solved this issue too. The fix will be part of 2.2.1 which we plan to release early next week.

[2018-01-11 08:38] #568 closed

[2018-01-11 08:45] mauromol commented on #548
By the way, I just tried another thing, I don't know if it's related.

I tested this fix by importing a multiproject with plain layout.
The master project also contains a buildSrc project. This buildSrc project was not imported by "Import Existing Gradle Project" wizard, but this was somewhat expected (after all, this buildSrc project is not part of the multiproject).
Then I decided to do a "Impor

[2018-01-11 08:53] donat commented on #548
Probably not, because we only adjusted the way how we write into the file stream. Nonetheless, I'll look into it.

[2018-01-11 15:46] donat opened #638 "Project configuration update fails when importing existing Gradle project"
When importing existing projects via a generic import wizard then a BackingStoreException arise.

[code]

The root cause is that the project being imported is not fully in sync with the workspace when the synchronization is triggered.

The problem can be fixed by calling `refreshLocal` on the `.settings` folder before saving the preferences.

The problem has been reported many times via AERI:
http

[2018-01-11 16:04] donat commented on #548
#638 is probably the root cause.

[2018-01-11 16:09] mauromol commented on #548
Thank you, I'll track it!

[2018-01-12 11:40] staffanf commented on #249
@donat Although I noticed this discrepancy I will not be contributing to this issue except for contributing use-cases/feedback/snapshot-testing.
Like many other, we are a mixed shop with some preferring Eclipse and others IntelliJ. I'm in group #2 but I'm also the one responsible for converting our builds to gradle so we would like features parity.
For me, not being able to debug JavaExec tasks is

[2018-01-12 16:01] David-NYC opened #640 "Buildship does not use gradle.properties on initial download of wrapper"
I have been trying to create a new Gradle project using Buildship, but I get the following error within the wizard:

Caused by: javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

This is happening because our proxy uses an

[2018-01-12 16:07] donat commented on #640
To communicate with Gradle, Buildship uses the `Tooling API` module which runs within the JVM hosting Eclipse. I think you can fix the problem by adding the `-Djavax.net.ssl.trustStore=...` argument to the `eclipse.ini` file: https://wiki.eclipse.org/Eclipse.ini

[2018-01-12 16:28] David-NYC commented on #640
That's what I thought as well, but the STS.ini is the equivalent of the eclipse.ini. As I stated previously, this doesn't seem to work for Buildship. It works for the eclipse marketplace, but for some reason the Tooling API must not use those arguments when invoking the jvm.

[2018-01-12 18:31] David-NYC commented on #640
Oops. I'm just careless. I forgot the "-D" in my options in the STS.ini file. You can see from my original post.

[2018-01-12 18:31] #640 closed

[2018-01-15 11:33] oehme commented on #615
@jandsu Do you still experience this issue with Gradle 4.5 RC1?

[2018-01-15 12:56] jandsu commented on #615
@oehme no, it works it 4.5.rc1 :)
I guess I can close the issue then...
Thanks

[2018-01-15 12:56] #615 closed

[2018-01-15 13:45] donat commented on #249
Sorry for the late reply. It's hard to tell what exactly the commenters and +1'ers want, but I'm willing to guess is that the biggest missing feature is the lack of Gradle option in the `Debug as...` menu. But how exactly this feature should look like? I can imagine a couple of implementations (extending the Gradle editor, hooking into the Tasks view, etc) so we'll need an actual spec where we cou

[2018-01-15 15:58] eheck-is opened #641 "Cannot install Buildship 2.2 with p2 director"
Using the following
`eclipse -application org.eclipse.equinox.p2.director -installIU org.eclipse.buildship.feature.group -repository http://download.eclipse.org/buildship/updates/e47/releases/2.x`

I get
`Installing org.eclipse.buildship.feature.group 2.2.0.v20171211-1404.
Installation failed.
Cannot complete the install because one or more required items could not be found.
 Software being instal

[2018-01-15 16:17] donat commented on #641
For some reason, we no longer include Guava 15 in the update site. I'll investigate.

[2018-01-16 15:12] donat commented on #641
Fixed: https://github.com/eclipse/buildship/commit/1361b8bd6e3bacea28d6b8c47efbea5237182279

[2018-01-16 15:55] donat commented on #641
It should be fine now. @eheck-is Can you please give the following update site a try?
http://download.eclipse.org/buildship/updates/e47/snapshots/2.x/2.2.1.v20180116-1545-s

[2018-01-16 17:47] donat commented on #641
Excellent, thank you for checking!

[2018-01-16 17:47] #641 closed

[2018-01-17 21:52] lynchdp commented on #575
It appears that generated source folders are also being dropped when refreshing the project.

[2018-01-18 07:04] rubensa commented on #481
It might be related with Eclipse preferences not been accessed in a thread-safe way.  See https://bugs.eclipse.org/bugs/show_bug.cgi?id=444188#c6

[2018-01-18 08:33] oehme commented on #575
@lynchdp Can you please provide a reproducible example?

[2018-01-18 09:58] donat commented on #548
@mauromol The fix is available in the latest snapshot.

[2018-01-18 09:58] #638 closed

[2018-01-18 23:31] lynchdp commented on #575
I'm sorry, I jumped to the wrong conclusion.  After digging deeper, I found that our build script was using a method to append the generated source directory to the eclipse classpath. It was doing this using the withXml method.  When I changed it to use the whenMerged method the source directory is handled correctly.

[2018-01-21 14:51] monarchpedo opened #643 "eclipes PKIX issue on creating maven archetype project"
Bundle: org.eclipse.m2e.core 1.7.0.20160603-1933
Message: Could not resolve archetype org.apache.maven.archetypes:maven-archetype-quickstart:1.1 from any of the configured repositories.
Exception:
org.eclipse.core.runtime.CoreException: Could not resolve artifact org.apache.maven.archetypes:maven-archetype-quickstart:pom:1.1
    at org.eclipse.m2e.core.internal.embedder.MavenImpl$5.call(MavenImpl.

[2018-01-22 08:23] donat commented on #643
Judging from the stack trace your problem comes from the Maven integration. I suggest you report the problem on [m2e-users mailing list](https://accounts.eclipse.org/mailing-list/m2e-users).

[2018-01-22 08:23] #643 closed

[2018-01-22 08:43] monarchpedo commented on #643
thanks for donat . Since I found solution after posting this post.

[2018-01-22 08:44] donat commented on #643
I'm glad you found a solution to your problem. In any case, don't hesitate to submit a report here if you find a Buildship-related problem :)

[2018-01-22 09:21] #253 closed

[2018-01-22 13:31] donat opened #645 "Refreshing Tasks view may result in `IllegalStateException `"
It looks like that the `ReloadTaskViewRefreshJob` can invoke `TaskView.setContent()` such that it throws an `IllegalStateException`.

    java.lang.IllegalStateException: Need an underlying widget to be able to set the input.(Has the widget been disposed?)
        at org.eclipse.jface.viewers.StructuredViewer.setInput(StructuredViewer.java:1687)
        at org.eclipse.buildship.ui.view.task.TaskVi

[2018-01-22 13:44] donat commented on #645
The exception can happen when the viewer's tree widget is either `null` or already disposed. Since the `ReloadTaskViewJob` is created after the tasks view itself, then I think it can be only the latter.

In `TaskView.setContent()` we do two UI-related things:
[code]
The first statement is a no-op if a target widget is disposed, that's why we fail on the second one.

[2018-01-23 16:26] donat opened #647 "TaskView.setInput() invoked after the widget disposed"
Buildship probably schedules `TaskViewRefreshJob`s after the workspace shutdown is initiated:
https://github.com/eclipse/buildship/pull/646#issuecomment-359809353

One possible scenario could be when:
- The build script is not saved
- The auto-sync feature is enabled
- The user shuts down Eclipse and flushes the unsaved file.

[2018-01-23 16:27] #645 closed

[2018-01-26 11:12] Sprax2013 commented on #488
It hasn't according to https://projects.eclipse.org/projects/tools.buildship/downloads
I edited the update-sites to e48 causing the updater to loop and changes it back to the release-URL from that download-page. Now it's working. I don't know what the problem was. Maybe Eclipse has cached some files and these were overwritten after "removing" it's e47 URL?

[2018-01-30 08:25] #228 closed

[2018-02-07 13:39] markus-wa commented on #476
Has there been any progress on this?

[2018-02-08 14:57] netmikey commented on #348
Part of the OP's suggestion was this:

I'm exactly in the same situation, same workflow.

Plus, I *never* ran a "Gradle Test", yet when I'm working on a JUnit test in Eclipse and hit `Ctrl+F11` it almost always executes "Run as Gradle Test". I can't insist enough how annoying this is...

Really, *please* let us disable that run action altogether.

[2018-02-09 10:18] donat opened #650 "Ensure proper cross-version coverage"
We should have proper cross-version coverage for model loading and project synchronization.
After we have all the test coverage, we should explicitly tell what is the minimum supported Gradle version and make Buildship fail early if the user tries to use an unsupported one.

[2018-02-09 10:19] donat opened #651 "Copy Tooling API bundle generation into Buildship"

[2018-02-09 10:43] donat commented on #614
@fbricon I've removed the UI dependencies from the `org.eclipse.buildship.kotlin` plugin: https://github.com/eclipse/buildship/commit/4b5522960d20375ccea3b41e22fd76e639814d83

[2018-02-09 13:56] donat opened #652 "On added event for imported Gradle project, the Gradle nature is not set on the project"
Erin Harris [reported](https://bugs.eclipse.org/bugs/show_bug.cgi?id=530805):

Attached is a zip file of the project used.  Unzip it and in the top level parent project do a "gradle build".  Then import the top level project into eclipse as an existing Gradle project.  We are using Oxygen2 (4.7.2).

[https://app.zenhub.com/files/32398083/3cb6c9ad-79a4-43e0-86c1-3612b4bcef78/download](https://app.z

[2018-02-09 14:01] donat commented on #652
I probably happen because the synchronization operation is not an atomic operation and you receive the project added event is broadcasted before the project is assigned to the project. We fixed this issue in the latest Buildship 3.0 snapshot (by wrapping the synchronization in an `IWorkspaceRunnable`). Could you please verify that it works for you?

[2018-02-09 16:22] oehme commented on #652
@donat We [already do that](https://github.com/eclipse/buildship/blob/7a47f49855ab655a090f211444d2e32e8a4122a6/org.eclipse.buildship.core/src/main/java/org/eclipse/buildship/core/workspace/internal/SynchronizeGradleBuildOperation.java#L131) in 2.x.

Note that this is intentionally only wrapping each individual project. Wrapping the whole build leads to too much memory pressure as Eclipse buffers a

[2018-02-10 09:22] Kameecoding commented on #265
what's the status of this feature is it being worked on?

[2018-02-12 14:00] donat opened #653 "Custom classpath provider removed from launch config during synhronization"
## Original report
https://discuss.gradle.org/t/launchers-lose-buildship-classpath-on-import-regain-it-later

## Actual behavior
The problem happens when the launch configurations are stored in a project file. If the project containing a launch config is synchronized before the project referenced in the launch config then the custom provider is removed.

## Expected behavior
The launch config shou

[2018-02-12 15:05] lorinczz opened #654 "Key shortcut for "Run Gradle Test" (Ctrl-Alt-X,G) cannot be changed"
[Bug 488922](https://bugs.eclipse.org/bugs/show_bug.cgi?id=488922) from Bugzilla, quote:

I can't type "#".
Oxygen.2 Release (4.7.2), Windows 10, Hungarian keyboard layout, install path C:\eclipse\java-oxygen\eclipse, Buildship 2.1.2.v20170807-1324

[2018-02-12 15:16] donat commented on #654
Anybody else sees this behavior?

It works for me on Mac. I'll try to get a hold on a Windows machine to verify the problem.

[2018-02-13 06:20] chhex opened #655 "Buildship doesn't download source jar of dependency"
If Buildship is used along side m2e with the same local maven repository , Buildship doesn't download the source code of a dependency if it has already been downloaded by m2e. m2e has the option the download the source lazy. This makes migrating from m2e to Buildship very cumbersome. As a work around is  to delete the needed dependencies in the local repository and refresh the gradle model to forc

[2018-02-13 08:56] Rolf-de commented on #488
I get this error when trying to install Java 9 JDT to Eclipse.
I tried to remove the update site "http://download.eclipse.org/eclipse/updates/none" but for some reason it continues reapperaing by itself.

I used only the update sites in preferences as marked in the picture from donat above - No help.
I removed buildship and reinstalled it - no help.

Here are the details to the error as reportet b

[2018-02-13 09:47] oehme commented on #655
That's because Gradle reuses the jars that Maven already downloaded. It will attach that as the source instead. If this doesn't work for you, please provide a reproducible example project.

[2018-02-13 10:57] chhex commented on #655
Exactly. With m2e, you have in the preferences the option *not* to (eagerly) to download the source jars with the binary jars:  the unchecked Download Artifact Sources option. So you have only the binary jars in the local repo - at least initially.   But m2e downloads in this case the source jars lazy , when you select in the Maven Dependencies a class File of a Dependency.
This isn't the case wit

[2018-02-13 11:04] oehme commented on #655
The sources are always downloaded for all dependencies if they aren't already there, so I don't understand the problem yet. The title of your issues says "Buildship doesn't download sources", but it does always and eagerly.

Lazy downloads are not something we plan to support.

[2018-02-13 11:13] chhex commented on #655
Well, that's the problem:  the dependency is there - the binary jar, but the source jar not, since m2e DOES support lazy downloading. Which is i find a nice and useful feature, with two goals: safe space and bandwith.
But ok. if  it's not planed, and community feedback  resp. real life requirements aren't important for Buildship, so be it.

[2018-02-13 11:58] oehme commented on #655
When the source jar isn't there, Gradle will download it.

If that's not working, please provide a reproducible example.

[2018-02-13 12:39] oehme commented on #655
Yes, no matter what. If that doesn't happen you'd have found a bug, which is why I'm asking for a reproducible example :)

[2018-02-13 15:03] chhex commented on #655
"Yes, no matter what. If that doesn't happen you'd have found a bug"
ahhh, ok , sorry for the misunderstanding ;-)
"which is why I'm asking for a reproducible example :)"
I can do that.  Sorry if for asking stupid.
Would a eclipse workspace with two small projects , each with the same dependency, but one m2e and one gradle project and the corresponding local mavenrepo do?

[2018-02-13 15:07] oehme commented on #655
Yes, that would be a great setup.

[2018-02-13 15:11] chhex commented on #655
Great i ll do (.... and then it probably works, haha ;-)

[2018-02-13 15:40] tkeksa commented on #654
This annoying problem problem is still reproducible with my Oxygen.2, Windows 7 and Czech keyboard layout.

[2018-02-13 18:30] donat commented on #654
@lorinczz @tkeksa I've created a branch build where I've removed the hotkey binding. Can you please check if it solves your problem? You can install it from this update site: https://builds.gradle.org/repository/download/Tooling_Master_IntegrationTests_Linux_Eclipse47IntegrationTests/10969905:id/update-site

[2018-02-13 21:57] chhex commented on #655
I created a small example at https://github.com/chhex/buildship-test, which reproduces the situation.

[2018-02-14 18:30] chhex commented on #655
Yes exactly, i knew that. But with having only

`repositories {
    mavenCentral()
}`
The dependencies are downloaded to Gradle's cache.

But since we in the course of migrating to Gradle  - and this will take us some time  - we have Maven projects side by side, which is why we configure explicitly mavenLocal, so that all Projects share locally the repos.

Explicitly have both configured
`reposito

[2018-02-14 20:21] oehme commented on #655
Having both configured should work. Does it not in the example you prepared?

[2018-02-14 21:01] chhex commented on #655
"Having both configured should work, but is unnecessary for the reason I mentioned - Gradle already reuses jars from .m2 before downloading."
Ah ok. So Gradle copies the jars implicitly from mavenLocal() to the Gradle cache, if they are there? From where does Gradle know to do that?
I see in the  Project and Dependencies Container of the Gradle project the jars from there only when mavenLocal()  i

[2018-02-15 07:57] donat commented on #653
An alternative solution would be never to delete the classpath provider attribute. If we do this, we should make sure that the classpath provider falls back to the default provider for non-Gradle projects.

[2018-02-15 08:35] oehme commented on #655
Gradle does not copy them, it just uses them if the checksums match the checksums on the server. If it has them in its own cache it will use those of course.

[2018-02-15 14:51] oehme commented on #650
Let's rename this issue to "Ensure proper cross-version coverage". We don't need to test the models themselves like we did in tooling-commons if we already have end-to-end coverage in Buildship (after all, the models still need to be used correctly by the calling code).

[2018-02-15 14:52] donat commented on #650
I agree. I've just renamed the story.

[2018-02-15 17:02] chhex commented on #655
Interesting is though  that in the Szenario explained  when mavenLocal() ist declared i see the jar  in the Project and External Dependencies pointing to the local Maven Repository ...as expected ... and yes there is any source jar there ... as explained.

When i have only mavenCentral() declared it points to the Gradle cache, in which case i also have the Source jar

[2018-02-15 17:40] oehme commented on #655
Buildship doesn't do anything here. Gradle resolves dependencies, not Buildship. And when you tell Gradle to *only* use `mavenLocal`, then it won't look anywhere else. It's doing what you tell it to do :)

I just tested your example and all you need to do is remove `mavenLocal()` or make it the second repository. Gradle will not mix artifacts from different repositories when they belong to the sam

[2018-02-15 17:40] #655 closed

[2018-02-16 12:25] chhex commented on #655
So basically you are basically confirming what we observed:
The repository declaration order defines Gradle's lookup order for the artifacts.
And since it is found first in mavenLocal: that's it, meaning no source jars.
For us reversing the search order is no option, because, as said,  we have gradle and m2e said by side and want to at least retrieve from and publish to the same local Repository,

[2018-02-16 12:51] oehme commented on #655
I don't understand how reversing the order would be a problem here. Gradle will first look on `mavenCentral`, where it obviously won't find things you published locally. Then it'll continue to `mavenLocal` and find the things you published locally. `mavenLocal` should basically never be the first repo in the list.

[2018-02-16 13:16] chhex commented on #655
Good point. And best thanks for your patience.

But since we are developing with SNAPSHOTs and with our own Remote Repository , proxying for example also to MavenCentral ... so we effectively have something like:

`repositories {
		mavenLocal()
		maven { url "http://mavenrepo.xxxxxx.ch/nexus/content/groups/public/" }
		maven { url "http://mavenrepo.xxxxxx.ch/nexus/content/repositories/releases/" }

[2018-02-16 13:29] oehme commented on #655
Got it, I didn't think about that use case. This is something we intend to fix by the way, so Gradle will keep searching for newer snapshots in other repositories.

In the meantime I think there is no better workaround than to let Maven download sources at all times.

[2018-02-16 14:13] chhex commented on #655
Great thanks for patience! Btw u guys are doing a great job. It just takes some time to get all the code over to gradle.

[2018-02-17 07:13] alanradley commented on #488
I have the exact same problem - cannot install the Java-9 update from the eclipse site -  and I find it incredible that the authors of Eclipse claim that it is Java-9 compatible when many people are having this problem - and nobody seems to know how to fix it. This is very unprofessional.

[2018-02-19 09:08] donat opened #656 "Synchronisation should detect if linked resources are disabled"
I was able to reproduce the [AERI](https://bugs.eclipse.org/bugs/show_bug.cgi?id=531331) report with the following steps:

1. Create a new Gradle project with linked resources
2. Disable linked resources at `Preferences > General > Workspace > Linked Resources`
3. Execute Gradle refresh

The linked resource updater component should check for this preference and explicitly tell the user how to fix

[2018-02-19 23:50] HoldYourWaffle opened #658 "Automatically configure Java 9 "stuff""
Importing a java 9 project without any additional configuration simply doesn't work. Certain attributes have to be set on several classpath entries to make it work:
- Dependencies have to be marked as modules[1] (not sure where I found this piece of configuration, can't seem to find it anywhere now)
- To make tests work both the `src/test/java` source folder and `testCompile`-scoped dependencies h

[2018-02-20 16:20] oehme commented on #658
Thanks for taking the time to investigate how to make it work in Eclipse!

Gradle doesn't provide much support for Jigsaw at this point out of the box. We have an [experimental plugin](https://github.com/gradle/gradle-java-modules) that you can use in the meantime. Your configuration above should probably be added to that plugin. A pull request would be welcome!

[2018-02-20 16:54] HoldYourWaffle commented on #658
Upon further testing I encountered some issues and inconsistencies in the way buildship handles this. For some reason it broke overnight 😕. I'm still investigating, but this is what I've got so far:

### Java 8
The following configuration makes everything work perfectly as intended:
[code]
Although technically not required to make things work, I think it's still wise to put this in (it can't do an

[2018-02-20 17:02] oehme commented on #658
That property is added by a `whenMerged` hook in the `eclipse` plugin, so it should definitely be there before your code runs. A little reproducible example would help here. It's not related to Buildship, the code path through the eclipse plugin is the same.

This is intentional. Everything can be configured in the `whenMerged {}` hook, so there is no need for manual classpath modifications.

[2018-02-20 17:16] HoldYourWaffle commented on #658
[Sample project](https://github.com/HoldYourWaffle/buildship-658-sample)

Running `gradle eclipse` from the commandline gives the following result:
[code]

Importing the project into eclipse outputs:
[code]

[2018-02-21 16:50] kuniss commented on #511
For those who had a similar problem in include builds - Check the file `.setting/org.eclipse.buildship.core.prefs` whether the `connection.project.dir` property is empty.
If not, make it empty.
In my case the grayed tasks become green again. :smile:

I my case this (non empty property) happens when turning back from included projects to non-included projects...

@donat @oehme Not sure, whether thi

[2018-02-21 16:54] oehme commented on #511
@kuniss You shouldn't need to manually edit the preference file. Just refreshing the root project should do the trick. Any chance you can reproducibly get back into the broken state?

[2018-02-21 16:57] kuniss commented on #511
The question is, what is the root project? I do not have such thing like a parent project in Xtext created projects (I know it from)...
Is a those which does not have other included projects?

[2018-02-21 17:01] oehme commented on #511
The root project is the one where your settings.gradle file lives.

[2018-02-21 17:07] kuniss commented on #511
I guess you may reproduce easily by checking out projects javapos-contracts, javapos-controls, javapos-config-loader from https://github.com/JavaPOSWorkingGroup.
Initially all projects are not include projects.

However, if you add
[code]
to your gradle.properties (which enables include nature of the projects, see project's `settings.gradle`), refresh Gradle tasks on javapos-contracts and then rem

[2018-02-21 17:09] kuniss commented on #511
.. I have a settings.gradle file on each of the projects as they can be checked out independently and in different sets.
Maybe, this is the issue. However, how to get this running otherwise?

[2018-02-21 17:32] kuniss commented on #511
Right, I switch between composite builds and not composite builds. I called it *included builds* as I created them using
[code]
Is *included build* not the right term for that?

[2018-02-21 17:33] oehme commented on #511
You said "included projects" earlier, which is why I thought you had this problem in a simple multi-project build.

I think this gives us enough information to reproduce and find a fix, thanks Denis!

[2018-02-21 17:41] kuniss commented on #511
As you consider it as an issue :smile:, here is another GUI side effect coming from it, I guess:

Same projects are listed several times. I saw up to 4 equal projects some times.
![grafik](https://user-images.githubusercontent.com/1107971/36495802-c137d3c4-1736-11e8-8814-b1034b0237ed.png)

[2018-02-22 11:47] aram535 opened #659 "If your gradle build requires any in-line parameters, import/refresh fails"
Version being used: 2.2.1

When importing a new project or refreshing a project, if the build.gradle requires an inline parameter it fails.

The most likely scenario is that you have to pass a hostname or auth information to Gradle.  In my case, a sub-task requires dbPassword to be presented if connecting to the database, this isn't normal function but is required for the sub-task.  The import fai

[2018-02-22 14:44] oehme commented on #659
I'm not sure what you mean by in-line parameters. If your build uses project properties, it should always have a sensible fallback for when a property is missing. Importing a project into the IDE should not require passing properties. Failures should only happen when running tasks that need those properties.

[2018-02-22 14:44] #659 closed

[2018-02-22 17:20] eximius313 commented on #329
It seems that there will be (some) support for annotation processors if Gradle 4.6 (https://github.com/gradle/gradle/pull/4217)

[2018-02-22 18:09] oehme commented on #329
gradle/gradle#4217 has nothing to do with the eclipse plugin. Please follow https://github.com/gradle/gradle/issues/2300 for progress on modelling annotation processor configuration better

[2018-02-23 12:37] Kameecoding opened #660 "WTP Project/ Webapp how to use with Tomcat"
Since in the meantime we managed to figure out but it wasn't easy an there is very little info about how to do it i'd like to rewrite this issue to give some pointers.

1. When adding the Server in eclipse you need to add the WTP project to it that you want run on it.
2. When you do that the your project gets deployed to the server working directory and the dependencies are correctly added to WEB-

[2018-02-23 13:26] donat opened #661 "Flakey test: `ImportingSymlinkedProject.Can import projects in symlinked locations`"
The test fails sporadically. It happens only on older target platforms (4.2 and 4.3). I can't reproduce it locally, nor on a Linux VM, so I disabled it temporarily.

[2018-02-23 13:30] #210 closed

[2018-02-23 13:31] #498 closed

[2018-02-28 03:38] mikera opened #664 "Errors detecting Gradle nature"
Hi, I'm getting a lot of errors in Eclipse even when not using Gradle. Seems like there is some exception thrown when trying to detect a Gradle Nature?

Details from Eclipse error log below:

[code]

Session Data:
[code]

[2018-02-28 22:01] calvertdw commented on #222
Hey @donat! I'm back... XD. Would you mind publishing that incubating version? I'd like to play around with it and see where we're at. Dying to switch our Gradle scripts to Kotlin.

[2018-03-01 09:16] donat commented on #664
Hi! The stack trace you provided contains the `ContextActivatingSelectionListener` class which have has been removed quite a while ago (in 1.0.11 to be exact). Please [install](https://github.com/eclipse/buildship/blob/master/docs/user/Installation.md) the latest Buildship version.

[2018-03-01 09:16] #664 closed

[2018-03-01 10:25] donat commented on #351
@oehme This is still a problem. IIUC Builship should receive the wrapper download events via `org.gradle.tooling.events.ProgressListener`. This doesn't seem to be the case; the first event comes after the wrapper download is finished.

[2018-03-01 11:32] oehme commented on #351
Yes, you should be getting a [start and end](https://github.com/gradle/gradle/blob/2f94bfed05d248447439febefb45e841b7d73793/subprojects/tooling-api/src/main/java/org/gradle/tooling/internal/consumer/DistributionInstaller.java#L89) event from the tooling API.

[2018-03-01 15:00] donat commented on #222
@calvertdw You can install a snapshot version from [this update site](https://builds.gradle.org/repository/download/Tooling_Master_Eclipse_CrossVersionCoverage_CrossVersionBuildLinuxEclipse47Java9/11212628:id/update-site/) (credentials: guest/guest). Frankly, there's a lot of room for improvement in Kotlin-Eclipse. The tooling loads things synchronously when the editor is opened. Also, you have to

[2018-03-01 15:07] calvertdw commented on #222
Thanks @donat! I'll try to get some issues submitted to them.

[2018-03-02 22:11] eximius313 opened #665 "Unrecognized option: --add-opens in JDK9"
I'm using JDK9 and in my gradle.properties I have:
[code]

While `gradle build` runs fine, Buildship throws:
[code]

[2018-03-04 17:43] gabrieljeremiahcampbell commented on #488
Hello everyone, I just found a work around for the problem. What I did was to uncheck all default update sites and create a new update site: with the URL http://download.eclipse.org/eclipse/updates/4.7. I then selected all the updates and let eclipse update everything that it could.

When it completed I saw that Java 9 tools were installed:

![java9](https://user-images.githubusercontent.com/33106

[2018-03-04 22:43] veita opened #666 "Gradle editor does not show useful information in the status bar"
Gradle Build Script Editor editor should display the usual editor information in the status bar.

This enables users e.g. to quickly find lines where a build script error occurred.

[2018-03-05 08:57] donat commented on #665
I'm suspecting that your project uses the same JVM that hosts Eclipse and the JVM version is 1.8 or less. You can fix the problem by running Eclipse on Java 9 or by declaring `org.gradle.java.home` in your gradle.properties file.

[2018-03-05 08:57] #665 closed

[2018-03-05 10:14] donat commented on #658
@HoldYourWaffle If I import the project with Gradle 4.4+ into Eclipse then the output is:
[code]
The project contains the wrapper executable (`gradlew`) but the `gradle-wrapper.properties` file is missing. This causes Buildship to fall back to the default Gradle version defined by the Tooling API which is 4.3 for the latest release.

[2018-03-05 10:21] donat commented on #656
It is fairly simple to implement the fix. Below the expected list of changes if somebody is interested to submit a pull request.

- `LinkedResourcesUpdater` should check for the corresponding preference and throw an `UnsupportedConfigurationException` when the value is false.
- The following test coverage should be added to `LinkedResourcesUpdaterTest`:

[code]

[2018-03-05 14:00] eximius313 commented on #665
@donat Would be nice if you allow me answer before you close the task.
I'm 100% JDK9 in Eclipse:
![image](https://user-images.githubusercontent.com/5578017/36978757-acb96d9c-2085-11e8-8de6-073de1cb4bc0.png)

![image](https://user-images.githubusercontent.com/5578017/36978783-be8599b0-2085-11e8-8cb1-acc54c4ffa65.png)

![image](https://user-images.githubusercontent.com/5578017/36978879-fc7a8c12-2085

[2018-03-05 14:13] donat commented on #665
It's just standard procedure, please don't feel offended by it. If we find that the problem is indeed Buildship we'll reopen the issue.

The installed JRE's show the Java installations that are recognized by JDT. The actual JVM running Eclipse is listed at a somewhat hidden place: Menu > About Eclipse > Installation Details > Configuration > the line under`-vm` (or you can fire up a java profiling

[2018-03-05 14:40] eximius313 commented on #665
OMG, you are right!
Because I had `C:\ProgramData\Oracle\Java\javapath;` at the beginning of PATH environment variable, Eclipse took it (in contrary to all other tools, that took the latest value `C:\Program Files\Java\jdk-9.0.4\bin`

This also seem to resolve the problem when I was trying to run Gradle task using Buildship:
![image](https://user-images.githubusercontent.com/5578017/36980371-60961

[2018-03-05 14:59] donat commented on #665
The thing is, we have quite a few bug reports like yours, which all originate from the fact that Buildship runs in Eclipse's JVM. This is a tradeoff as forking a new process would be much slower, and it would consume more memory.

[2018-03-06 08:03] oliverwelter opened #667 "Custom sourcesets are not shown in buildpath after upgrade to gradle 4.5"
Hi,
I'm using a custom sourceset for integrationtest configured like that:

sourceSets {
  integrationTest {
    java { srcDir 'src/integrationtest/java' }
    resources { srcDir 'src/integrationtest/resources' }
    runtimeClasspath += main.output + test.output
    compileClasspath += sourceSets.test.runtimeClasspath
  }
}

configurations {
  integrationTestCompile.extendsFrom testCompile
  integ

[2018-03-06 09:54] oehme commented on #667
@oliverwelter Could you provide a small example project that shows the problem?

[2018-03-06 13:39] eximius313 opened #668 "Buildship doesn't add Junit5 library"
I added:
[code]

to my `build.gradle` and run `Gradle > Refresh Gradle Project`
unfortunately Junit5 library was not added to `Modulepath` and I had to add it manually to my `Java Build Path > Libraries > Modulepath`
A thing to notice is when you add it to `Libraries > Classpath` instead of `Libraries > Modulepath` you get following exception while running Junit:
[code]

[2018-03-06 13:58] oehme commented on #668
Buildship doesn't use the module path, it uses the classpath. You'll find all your dependencies in the "Project and External dependencies" container.

[2018-03-06 14:00] eximius313 commented on #668
I should mention that it's JDK9, and adding it to the classpath caused exception.
And without manually adding Junit5, tests didn't run

[2018-03-06 14:04] oehme commented on #668
You shouldn't need the JUnit 5 Eclipse library, JUnit 5 should already be in the "Project and External Dependencies".

[2018-03-06 14:16] eximius313 commented on #668
When I remove it, jupiter libraries are indeed in `Project and External Dependencies`, but when I try to run the test, Eclipse shows:
![image](https://user-images.githubusercontent.com/5578017/37036859-393ecf5c-2151-11e8-8439-28e220c3c520.png)
and then throws:
[code]

[2018-03-06 14:19] oehme commented on #668
Looks like this [JDT bug](https://bugs.eclipse.org/bugs/show_bug.cgi?id=525948) which was fixed in a recent Eclipse version.

[2018-03-06 15:04] eximius313 commented on #668
nope
![image](https://user-images.githubusercontent.com/5578017/37039529-016e6ea0-2158-11e8-9098-ceaaddb6bf39.png)

[2018-03-06 15:05] eximius313 commented on #668
Oh, in [4.7.3](https://www.eclipse.org/eclipse/development/plans/freeze_plan_4_7_3.php) which is not yet released ;(

[2018-03-06 15:11] oehme commented on #668
You could try out the nightly to see if it fixes the problem.

[2018-03-06 15:14] eximius313 commented on #668
I'll see if I can

[2018-03-06 18:23] jagraj opened #669 "Import exiting Gradle projects failed to import."
Hi,

I used "gradle init" to migrate my maven projects into Gradle projects. When I try to import these projects and they failed to import if there is error in build.gradle file. There is no way we can import if there is error in the build.gradle generated by grade init. Is it possible to import the projects even though we have errors in the build.gradle file and we can edit and fix them in the Ec

[2018-03-06 20:20] kevinmilner commented on #348
A fix for this seem so simple, and would remove so much annoyance. Is anyone out there? @donat?

[2018-03-06 22:57] oliverwelter commented on #667
I added a project showing the issue at https://github.com/oliverwelter/buildship-issue-667

It looks like the issue only appears on Windows systems when upgrading from gradle 4.4.1 to 4.5 or 4.6. I also tested it on Linux and it worked independent of the gradle version.

[2018-03-07 16:51] mauromol opened #670 "Regression: wrong org.eclipse.wst.common.component file generation after upgrade to Gradle >= 4.4"
I upgraded my build script wrapper from Gradle 4.1 to 4.4 and I see the following problem.
I tested al versions from 4.1 to 4.6 and I verified it's happening only on Gradle >= 4.4. Same Buildship version 2.2.2.v20180125-2333-s under Oxygen.2.

When I do a "Refresh Gradle Project" on my project applying plugin eclipse-wtp, I get the following:

Gradle < 4.4:
[code]

Gradle >= 4.4:
[code]

As you ca

[2018-03-08 08:17] oehme commented on #667
@donat The only thing I can think of right now is the change to separate dependencies per sourceSet. Not sure how this would make sourceSets disappear on Windows though.

[2018-03-08 17:17] #650 closed

[2018-03-08 17:19] donat opened #671 "Remove unnecessary package exports from TAPI bundle"
https://github.com/eclipse/buildship/pull/663#pullrequestreview-102274656

[2018-03-09 15:46] #651 closed

[2018-03-09 21:22] chrislong commented on #584
@donat I understand your workaround, but it still seems to me that Buildship is ignoring the Working Directory as set in the build configuration, or at least Buildship is treating it differently than other Eclipse launch types, such a Java application. What does the "Working Directory" setting mean/do in a Buildship launch?

[2018-03-10 00:54] BetterWork4BetterWorld commented on #354
Hello, I still have this problem too. And for me it is a blocking issue. I use EmbeddedMongo database for test, and because this dependency is in the runtime, I can't launch my non-test classes without launching AND use this embedded databse which of course does not fit for production environnement. Can you help ?

[2018-03-10 04:06] ppsnumi opened #673 "spring bootRun throw error"
env:
gradle 4.6
eclipse oxygen.2 (4.7.2)
gradle buildship 2.2.1, 2.1.2
spring boot 1.5.10

error throwing when my smtpApplication run bootRun task.
SmtpApplication is main class and find it correct but run incorrect class or command parameter
but work fine after command line enter "gradle bootRun"

log:
Working Directory: D:\Dev\workspace\smtp
Gradle User Home: C:\Users\user
Gradle Distribution: L

[2018-03-11 14:07] donat commented on #354
@BetterWork4BetterWorld The latest Buildship should work for you. Just make sure you use Buildship 2.2+ and your project is actually imported with the proper Gradle version.

[2018-03-12 10:22] #671 closed

[2018-03-12 10:43] donat commented on #207
It's done!

[2018-03-12 10:43] #207 closed

[2018-03-12 15:43] donat commented on #348
@kevinmilner A relatively simple solution would be to contribute the `Run As > Gradle Test` entry only if the class is part of the test source sets.

[2018-03-12 20:55] HoldYourWaffle commented on #658
There was indeed some weird stuff going on with my wrapper, no idea how that happened and why it continued on fresh projects.

Doing some investigation on java 9 configuration for eclipse again, stuff is being really weird and I have no idea why. Stuff that worked before just magically broke for some reason although I'll need to investigate further.

[2018-03-13 12:56] #348 closed

[2018-03-13 20:51] HoldYourWaffle commented on #658
Alright I think I've sorted this out now.

[code]
[(1)](https://bugs.eclipse.org/bugs/show_bug.cgi?id=526828#c7)

That's all the configuration that's necessary to get a working Java 9 Jigsaw project **inside eclipse**. This works perfect concerning the scope of buildship.
Until you start unit testing 😕
Running unit tests from inside eclipse does weird stuff, it loads & runs the tests from the `src

[2018-03-14 10:13] donat commented on #658
Can you update your sample project so that it contains your latest findings? Maybe the Eclipse Java9 support doesn't play nicely with the Buildship classpath customization.

[2018-03-14 10:53] HoldYourWaffle commented on #658
I have updated my [sample project](https://github.com/HoldYourWaffle/buildship-658-sample)

[2018-03-14 14:47] donat commented on #348
@kevinmilner The fix is in the latest snapshot. You can install it from the 3.x snapshot update site: http://download.eclipse.org/buildship/updates/e47/snapshots/3.x.

[2018-03-14 14:59] donat opened #676 "Collect possible use cases for an initial API"
Let's collect ideas and use cases on this issue about how the Buildship API should look like.

[2018-03-14 15:11] donat commented on #676
As described at #256 Buildship should define a simplistic, synchronous API for project import. Something like this:

    BuildIdentifier id = new BuildIdentifier(directory, gradleDistribution)
    GradleCore.workspace().import(id, monitor)

[2018-03-16 11:35] samized commented on #547
Would be nice if buildship can solve this problem: https://github.com/gradle/gradle/issues/1003

[2018-03-16 14:22] HoldYourWaffle opened #678 "Setting a warnings policy"
Is it possible to set the project-specific warning settings from gradle?

In some projects (like utility libs) I don't care about module leaks, some projects still use raw types for some reason, others don't care or have to use deprecated libraries and I'm sure there are a lot more reasons why people might want to set a warning policy (both enforcing or ignoring certain warnings).

I'm not familia

[2018-03-16 16:42] donat commented on #348
@kevinmilner My pleasure. The 3.x stream should be pretty stable, but if you experience any problems please let us know.

[2018-03-17 16:56] VincentOkala commented on #488
Hi. I am using lubuntu( like ubuntu) and i found that when i install ccs, i used sudo cmd, so some file can't be changed by another user, that's why the problem comes up. So in the place i installed ccs, i run the cmd:
chown -R username:groupname *
with username and groupname are the same as my computer account.
Hope it solve your problem.

[2018-03-18 13:08] titou10titou10 opened #679 "Provide a contextual "Run As...> Gradle build" menu on *.gradle files like the one for maven or ant"
Provide a contextual `"Run As...> Gradle build"` menu on `*.gradle` files like the one for `maven` or `ant` with all the option related to a gradle build

Here is a print screen of the dialog for `maven`, `ant` as a similar one, why not Gradle?

![image](https://user-images.githubusercontent.com/15241034/37566150-605b72aa-2a8b-11e8-8f42-b04c1810ac57.png)

[2018-03-19 08:54] oehme commented on #547
Closing, since this is already tracked by gradle/gradle#1003 and needs to be done in Gradle, not Buildship.

@samized Your workaround should work fine. Have you put some logging in there to see if it is getting invoked?

[2018-03-19 08:54] #547 closed

[2018-03-19 15:53] kdvolder commented on #676
Sorry it took a while to get round to responding. Some quick feedback of the top of my head.

1. This should be obvious, but the most important point of a 'stable' api would be that it doesn't change, or if it does it remains backwards compatible.

2. A very important point is that, there must be a way for the caller to determine when the import is finished and whether or not it succeeded. The abo

[2018-03-19 16:15] kdvolder commented on #676
For reference this is how we currently use (non public) api of buildship at the moment to support the start.spring.io import wizard.

https://github.com/spring-projects/spring-ide/blob/master/plugins/org.springframework.ide.eclipse.buildship20/src/org/springframework/ide/eclipse/buildship20/Buildship20ImportStrategy.java

I think your proposed api would be sufficient to replace that non-public api

[2018-03-19 16:23] kdvolder commented on #676
Another thought came to me.

In the past I have run into to some difficulties around synchronization rules. I.e. what you pass in Eclipse job api via `Job.setRule`. Typically the import is run from a Job. And the Job needs approrpiate sych rule. If STS is going to call your synchronous api then it will need to know ahead of time what synchronization rule your acync api needs. It is typically not a

[2018-03-19 16:28] kdvolder commented on #676
Final thought. If you implement the proposed API, it is probably a good idea that I should try it out. I.e. try and implement our 'GradleImportStrategy' object using the proposed api. It is often hard to anticipate subtle issues until you actually try to use an API for real.

So if you have something we can try let me know.

[2018-03-20 09:18] donat commented on #676
Thank you for the elaborate answer! My proposed import API above was more of a conversation starter. Nonetheless, we'll definitely try to incorporate your proposals into the API draft. For the time being, I can already answer some of your concerns:

The question here is, what should happen during the import. Should the workspace settings always use during the import, or should we expose customizat

[2018-03-20 12:55] Jaggeroth commented on #629
I would like to add my vote for this feature or something like it.

There is often need to rename projects in Eclipse and you don't want that name to be reflected back into the Gradle Build file. Particularly if like me, you collaborate on a project and not everyone used Eclipse.

I also work on a number or projects built around templates which have consistently named subprojects. With the Maven I

[2018-03-20 13:25] oehme commented on #629
@Jaggeroth You can use a Gradle init script in your user home to create a naming convention for Eclipse project names. Buildship works 100% off of Gradle's model. It doesn't make any decisions itself.

[2018-03-21 00:46] kdvolder commented on #676
Actually... to me the question is not so much about 'what should happen'. Its more about 'who is in the best position to know what should happen'. So, for example, I don't really know the answer to your questions. Should it use workspace settings? Should it look inside the project's wrapper? Or should it be something else entirely? Whatever the answer is...my point is... I do not know. And if you

[2018-03-21 00:57] kdvolder commented on #676
BTW: In retrospect... don't get too hung up on my point 3 from above. (i.e. when I said the API may be too simplistic). Shouldn't go overboard in trying to make the api anticipate every possible need.

Perhaps it makes more sense to try and balance between simplicity and point 1. (i.e. stability and backward compatibility).

I.e. for example. I think its a good idea to anticipate returning some in

[2018-03-21 01:16] kdvolder commented on #676
That makes sense. However, it probably means the caller has to lock the whole workspace (i.e. use something like `ResourcesPlugin.getRuleFactory().buildRule() ` on its job. This is because the caller really doesn't have any knowledge about what buildship api will do other than that it will make changes to the workspace. So it really can not be more precise.

BuildShip itself might be in a position

[2018-03-21 10:19] Jaggeroth commented on #629
@oehme Thanks for the suggestion. However I do feel that's as a solution that's little advanced for what's required. Certainly beyond my gradle knowldege. I also feel that modifying eclipse settings during import should be entirely within scope of the Buildship plugin UI.

[2018-03-22 12:07] eximius313 commented on #668
Unfortunately:
![image](https://user-images.githubusercontent.com/5578017/37769619-dda91fb6-2dd1-11e8-82c8-e9aab752f8da.png)

[code]

[2018-03-23 12:35] #661 closed

[2018-03-25 02:45] DonnieWest opened #680 "Android Support"
Just looking into whether or not Android support was desired and if y'all would accept a pull request.

I noticed you all were using a technique to extend the java gradle plugin and copying the jars to the /lib directory where they're added to the Eclipse classpath file.

I propose roughly what we're doing over at https://github.com/artur-shaik/vim-javacomplete2 in the file https://github.com/artu

[2018-03-26 10:16] mauromol opened #681 "Option to attach javadoc when sources are missing?"
Right now, by default Buildship downloads sources and attach them to the JAR artifacts of dependencies.
However, if the source JAR is missing, Buildship does not download Javadoc either.
I would find it extremely useful if Buildship could at least download Javadocs for dependencies for which sources are missing.

I know I can change the build.gradle script and add:

    eclipse {
        classpath

[2018-03-27 00:57] #680 closed

[2018-03-31 17:49] d3b5s3r commented on #668
To fix this issue you need to go to the Order and Export section of your export and move the JUnit5 dependency above the Project and External Dependencies library

![junit5](https://user-images.githubusercontent.com/7703109/38165993-ebb3a39e-34e1-11e8-8433-5c8f28ff547c.JPG)

[2018-04-02 08:16] eximius313 commented on #668
How this could help if Buildship removes the library completly while I do `Gradle > Refresh Gradle project` ?
Of course I tried it:
![image](https://user-images.githubusercontent.com/5578017/38189079-cac69a6e-365e-11e8-8a87-25166e894a87.png)
but the library was removed anyway

[2018-04-02 14:45] Hieronymu5 commented on #668
You are correct.  It does get removed when you Refresh Gradle.  I was able to resolve it by adding a dependency to the launcher in my gradle build file. (I have junitPlatformVersion is set to 1.1.0)

testCompile("org.junit.platform:junit-platform-launcher:${junitPlatformVersion}")

![junit5-2](https://user-images.githubusercontent.com/7703109/38200559-75307790-365a-11e8-8e41-d0707307b888.JPG)

[2018-04-03 05:35] oehme commented on #668
It looks like Eclipse expects your project to provide the `junit-platform-launcher` dependency, which as far as I know is incorrect. Eclipse should contain this dependency itself, not require it as a project library. The launcher is project-independent. Could you open a bug for the JUnit Eclipse plugin?

[2018-04-03 05:35] #668 closed

[2018-04-05 10:40] vogella opened #682 "Dark theme support for Gradle syntax highlighting"
The current color for the Gradle syntax highlighting in the dark theme makes the text unreadable.

![selection_303](https://user-images.githubusercontent.com/139910/38361695-87fd14ca-38ce-11e8-87a3-4605f0e41caf.png)

Please fix, if you need help how to do this, please let me know.

[2018-04-05 10:42] vogella opened #683 "Gradle preference dialog looks horrible in the dark theme"
Maybe you are using a hard-coded background color but currently the page is not usable.

![preferences _304](https://user-images.githubusercontent.com/139910/38361772-c989e2c4-38ce-11e8-8a23-634cd62096d1.png)

[2018-04-05 11:07] vogella commented on #682
Looks like this is only a theme switch issue. After closing and re-opening the editor it looks better.

![selection_305](https://user-images.githubusercontent.com/139910/38362775-58c2c520-38d2-11e8-9180-fafee63546e2.png)

Maybe you can add a preference listener for the color font switch and refresh the editor?

[2018-04-06 08:06] donat commented on #683
There's no color set when the page is created. We only implement a custom `Composite`. I tried to debug it, but I didn't find the solution within the assigned timeframe.

If anybody has an idea why there are wrong colors, let me know.

[2018-04-06 08:11] donat commented on #682
That's correct, the editor only inherits the color scheme from the Java editor, but no preference listening is added. The fix sounds relatively easy. @vogella if you can provide a pr, that would be awesome ;)

[2018-04-06 09:09] vogella commented on #683
Is the custom composite an annoymous class or a separate widget?

Donát Csikós <notifications@github.com> schrieb am Fr., 6. Apr. 2018, 10:07:

[2018-04-06 09:10] donat commented on #683
It's a separate widget:

    public final class GradleProjectSettingsComposite extends Composite

[2018-04-06 09:10] vogella commented on #682
It is at the moment unlikely that I find time to contribute a fix, my
current backlog in platform is already larger than my available time.

Donát Csikós <notifications@github.com> schrieb am Fr., 6. Apr. 2018, 10:11:

[2018-04-06 09:26] vogella commented on #683
Just add:

GradleProjectSettingsComposite {

    Copy values for composite styling here

}

Currently of my computer hence I don't have access to the values, they
are stored in eclipse.platform.ui in org.eclipse.ui.themes

Donát Csikós <notifications@github.com> schrieb am Fr., 6. Apr. 2018, 11:19:

[2018-04-06 13:07] fapdash opened #684 "Syntax highlighting in Text compare view for build.gradle files?"
Would it be possible to also provide syntax highlighting for the Text compare / Git merge view?

![selection_195](https://user-images.githubusercontent.com/459631/38422368-c361b552-39aa-11e8-9e8f-908b541c8bf9.png)

[2018-04-06 13:50] fapdash opened #685 ""Synchronize Gradle projects ..." blocks deletion of file"
Currently the background synchronization blocks me from deleting files. (might be other actions too, but this is the only reliable reproduction I could find)
Is this really necessary?

Reproduction:
1. Make change to build.gradle to trigger long running sync
2. try to delete a file

Result: async background action becomes blocking with dialog

![knowledgeforge - knowledgeforge-build gradle - sprin

[2018-04-06 15:11] teuhc opened #686 "Buildship uses Eclipse Java JRE for imported project"
When we import a gradle Java9 project in eclipse (STS 3.9.2). Buildship uses the Eclipse java path (Version8) to the imported project.

Buildship 2.2.0
STS 3.9.2 - Eclipse Oxygen

[2018-04-06 20:00] mikepotter1024 opened #687 "Seems Buildship 2.2.1v20180125-1441 wont work with JDK 9.0.4 on Windows 10 STS 3.9.3 x64. Have ~.gradle/gradle.properties set."
Followed the FAQ to set still get the BAU console error:
...
Gradle Distribution: Gradle wrapper from target build
Gradle Version: 4.6
Java Home: C:\Program Files\Java\jre-9.0.4
JVM Arguments: None
Program Arguments: None
Build Scans Enabled: false
Offline Mode Enabled: false
Gradle Tasks: build

:compileJava FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for

[2018-04-09 16:00] donat commented on #683
I was able to influence the background color of the widget my defining a new `org.eclipse.core.expressions.propertyTesters` extension. However, I failed to compile the css that looks good with both the light and the dark theme. Some help here would be appreciated.

[2018-04-09 16:03] donat commented on #683
Btw I don't understand why the children of a custom composite won't inherit the CSS settings from the parent elements. Does every developer have to do the same thing in their Eclipse plugins?

[2018-04-09 16:34] vogella commented on #683
This sounds way to complex. I will try to have a quick look

[2018-04-09 16:47] vogella commented on #683
![image](https://user-images.githubusercontent.com/139910/38510808-674faade-3c26-11e8-87ae-0e4b804337b3.png)

PR on its way....

[2018-04-09 16:49] vogella commented on #683
Here we go: https://github.com/eclipse/buildship/pull/688

[2018-04-09 16:50] vogella commented on #683
I believe this is similar to HTML styling H2 does not inherit from H1. So every SWT elements needs either to use the same CSS id or class or separately styled.

[2018-04-09 22:45] fbricon opened #689 "Add the "test" classpath attribute to test sources and dependencies"
Eclipse Photon now support separation of main and test sources.
Classpath entries need a `test` attribute like:
[code]
Same goes for binary entries.

See https://bugs.eclipse.org/bugs/show_bug.cgi?id=224708 for more information. @brychcy should be able to give more details if needed.

[2018-04-09 22:47] fbricon commented on #689
See how Maven projects look like with those changes:
<img width="315" alt="test-entries" src="https://user-images.githubusercontent.com/148698/38526960-6f7dffa8-3c26-11e8-992b-b9afd0491b43.png">

[2018-04-10 10:08] lukeu commented on #354
@donat,

I've now taken a 3rd crack at this (a couple of days) attacking it from both ends:
 * building up a test with 4-5 projects and copying over any bits from the production build which look like they could possibly be related
 * chopping down the production build definitions as much as I can without breaking it

No joy :-( The minimal example still works as expected, and `bin/test` is still o

[2018-04-10 14:03] vogella commented on #683
PR has been merged.

[2018-04-10 14:03] #683 closed

[2018-04-12 08:54] lukeu commented on #687
I don't recall the precise rules for how Buildship selects which JVM/JRE to run on, but I know it falls back to the version of Java that Eclipse is using - which looks like it's happened to you, due to:

One solution could be to get Eclipse itself to launch using the JDK instead of JRE. Edit the Eclipse.ini file and add (on 2 separate lines, between `--launcher.appendVmargs` and `-vmargs`):

    -

[2018-04-12 08:56] lukeu commented on #687
Also, IIRC, the message about JAVA_HOME might be misleading as that comes from Gradle, but I don't think Buildship makes use of it. (Might want to search around to confirm that mind you.)

[2018-04-12 08:59] lukeu commented on #686
I've just written [this comment](https://github.com/eclipse/buildship/issues/687#issuecomment-380728655) which might be relevant to you also?

[2018-04-12 09:00] oehme commented on #687
Your setup should work, Gradle will use the java home specified in your `~/.gradle/gradle.properties`. Make sure you haven't overwritten it in the Gradle settings or run configuration settings. in Eclipse

[2018-04-12 09:04] oehme commented on #686
Please see the [FAQ](https://github.com/eclipse/buildship/blob/master/docs/user/Faq.md#q-running-java-compilation-tasks-fails-with-could-not-find-toolsjar-how-can-i-fix-this).

[2018-04-12 09:04] #686 closed

[2018-04-12 09:10] lukeu commented on #687
Ah yes, sorry I was conflated this with my setup (which uses the Eclipse compiler) with this output. Clearly here Gradle is doing the compiling. Silly me. I've added a warning to my comment that it's bad advice.

[2018-04-12 12:55] markus-wa commented on #670
I am observing the same issue but for me `<deployment-module>`s are missing as well.

[2018-04-12 13:25] kuniss opened #690 "Letting composite builds be controlled by the Eclipse project’s open/closed status"
This change request is a follow up from the discussion at [this Gradle Discussion thread](https://discuss.gradle.org/t/letting-included-builds-be-controlled-by-the-projects-open-closed-status/26211).

## Short Description
For composite builds Buildship should handle the library dependencies to Eclipse projects living in the same Eclipse workspace automatically according to their open/close status.

[2018-04-13 10:15] markus-wa opened #691 "'runtimeOnly' Dependencies not Deployed to Tomcat"
### Expected behaviour

`runtimeOnly` dependencies get deployed to `WEB-INF/lib` when using the Eclipse 'Servers' view (Tomcat 8.0).

### Actual behaviour

Any `runtimeOnly` dependencies are missing from `WEB-INF/lib` after deployment

[code]

### Reproduction / Example

See https://github.com/markus-wa/eclipse-buildship-dependency-deployment-bug for a minimal working example

### Notes

Java `run

[2018-04-16 13:25] donat commented on #689
We'll definitely want to look into this. Thank you for the link!

[2018-04-16 13:32] donat commented on #685
This is expected. For the project synchronization, Buildship locks the entire workspace as any workspace project can be changed and new projects can be created in the process. The cancellation should work correctly though, as it is wired to Gradle's cancellation API.

[2018-04-16 13:32] #685 closed

[2018-04-16 13:41] donat commented on #684
This would be nice to have, but I don't think we can schedule the implementation anytime soon. I'll leave the issue open, in case somebody wants to vote for it or wants to submit a pull request with the implementation.

[2018-04-16 13:47] donat commented on #607
I don't think we'll look into this story anymore. The Tooling API from Gradle 5.0 will support Gradle versions >=2.9 and Buildship has the same [constraint](https://github.com/eclipse/buildship/blob/release-3.0/org.eclipse.buildship.core.test/src/main/groovy/org/eclipse/buildship/core/test/fixtures/GradleVersionParameterization.java#L124) on the development branch.

[2018-04-16 13:47] #607 closed

[2018-04-16 13:55] donat commented on #666
This is actually implemented in the 3.x stream. We synchronization errors as error markers. You can install the latest snapshot from the [update sites](https://github.com/eclipse/buildship/blob/master/docs/user/Installation.md). The snapshot builds are pretty stable as the development is happening on separate feature branches.

Also, please let us know what do you think of the latest state.

[2018-04-16 13:55] #666 closed

[2018-04-16 14:48] donat commented on #654
Closing due to inactivity. FYI the latest 3.x snapshot we disabled the `Run as Gradle Test` option for the non-test sources. Let me know if this solution works for you or should I reopen this problem.

[2018-04-16 14:48] #654 closed

[2018-04-16 15:47] donat commented on #571
Sorry for the late reply.

Unlike the `eclipse` plugin, Buildship tries to load the project model from Gradle and configure your project based on the build configuration. The `.classpath` file altering is insufficient for your case. It can be easily fixed though. You need to declare the classpath entry in the project dependencies. Here's how:
[code]

[2018-04-16 15:47] #571 closed

[2018-04-16 15:58] donat commented on #578
Closing due to inactivity. Feel free to reopen the issue if it still persists.

[2018-04-16 15:58] #578 closed

[2018-04-16 16:05] donat commented on #600
There's an extension point defined which might be useful for this case. The [`InvocationCustomizer`](https://github.com/eclipse/buildship/blob/master/docs/development/ApiExamples.md#orgeclipsebuildshipcoreinvocationcustomizers-extension-point) defines additional program arguments to each build in the Eclipse workspace.

We thought about using this to propagate information from the Eclipse runtime

[2018-04-16 16:08] donat commented on #630
Closing as inactive. Feel free to reopen if this is still an issue.

[2018-04-16 16:08] #630 closed

[2018-04-17 08:24] kno10 commented on #600
I don't know the buildship codebase, and I have never used eclipse APIs.
I don't think I can contribute this. But yes, a simple environment variable should be enough.

[2018-04-17 15:26] donat commented on #669
With the latest 3.x snapshots you can import broken projects into the workspace. Please [give it a try](https://github.com/eclipse/buildship/blob/master/docs/user/Installation.md).

[2018-04-17 15:26] #669 closed

[2018-04-17 18:25] jclx opened #693 "AutoSync Project Synchronization only looks at build.gradle file apply/includes are not watched"
Currently the build.gradle file is only watched in
    private boolean hasBuildScriptFileChanged(IProject project, IResourceDelta[] deltas) {
            IPath buildScriptPath = model.getbuildScriptPath();
            Set<IPath> affectedResourcePaths  = collectAffectedResourcePaths(deltas);
            return affectedResourcePaths.contains(buildScriptPath);
But when a build.gradle has an apply
app

[2018-04-19 09:09] donat commented on #679
We could reuse the run configuration UI. In fact, Buildship already offers the same functionality in the context menu of the Tasks view (when one or more tasks are selected). It should be easy to add the same menu entry for the Gradle files.

[2018-04-19 09:48] donat commented on #681
I agree that it would be nice to be able to control source/Javadoc download for each dependency individually. However, the investment needed to implement this outweighs the created value IMHO.

Your second suggestion is interesting. It doesn't make sense to download the sources and the Javadoc at the same time, does it? Maybe the `eclipse` plugin should prioritize the settings such that when
[code

[2018-04-19 09:48] #681 closed

[2018-04-19 09:58] donat commented on #678
Unfortunately, there's no official way to do that.

The project-specific settings are stored preferences files in the `.settings` folder in your Gradle project. For example, the JDT compiler settings are in the `${project_dir}/.settings./org.eclipse.jdt.core.prefs` file. As a simple solution, you could just commit the entire folder into your VCS.

You can also generate or modify these files with c

[2018-04-19 09:58] #678 closed

[2018-04-20 15:10] lukeu opened #694 "I'm not sure the EclipseProject component is working"
When adding the following to a `build.gradle` in a given project...

    eclipse {
      classpath {
        println "CLASSPATH"
        file.whenMerged {
          println "CLASSPATH-MERGED"
        }
      }
      project {
        resourceFilter { println 'RF' }
        file {
          withXml {
            println "XML"
          }
          whenMerged {
            println "MERGED"

[2018-04-20 16:56] lukeu commented on #694
Ooooh, so these are only supported by `gradle eclipse` on the command-line? Right, I didn't realise there was a distinction.

[2018-04-22 11:00] HoldYourWaffle commented on #658
Any update on this?

[2018-04-23 14:56] mauromol commented on #681
Hi Donat, as you suggested I opened https://github.com/gradle/gradle/issues/5139

[2018-04-24 15:33] nniesen commented on #360
Our projects are organized like an open source model where each project is a library that is then consumed by one **or more** other projects.

This is a monolithic project structure where the sub-projects aren't really re-used outside the single monolithic project.

This is cumbersome for cross-project refactoring and then testing the changes before pushing to CI.

But I get that you won't be chan

[2018-05-01 17:01] pfurbacher opened #695 "New Gradle Project wizard should create resources folders, too."
Currently, the new gradle project wizard only creates the ```src/main/java``` and ```src/test/java```  folders. It would be helpful if it also created the respective ```resources``` folders. Perhaps this could be an optional item (checkbox) in the wizard.

Buildship version: Eclipse Plug-ins for Gradle: 2.2.1.v20180125-1441

[2018-05-01 20:23] pfurbacher opened #696 "New Gradle Project: Options page does not reflect workspace settings."
Buildship version: 2.2.1.v2018125-1441

I changed the workspace setting "Automatic Project Synchronization" to true to see how it affects Gradle projects.

I then created a new Gradle project using the Gradle Project wizard. I would have expected the "Options" page to show "Automatic Project Synchronization" as checked. It does not, as shown in the  attached image.

The same problem occurs with an

[2018-05-02 06:14] moley opened #697 "Import dialog ends with exception: WTP currently does not support mixed deployment paths."
Hi,

I think I have found a buildship bug when importing a project, which applies ear plugin.
I have stripped my usecase to a little demo project and uploaded it to https://github.com/moley/buildshipImportError.

It contains two independent projects (mylib and myapp).
mylib is a multi project and publishes different artifacts (beans which should contain things to be deployed, client and shared whi

[2018-05-03 07:37] moley commented on #667
Hi
I have a similar use case...
On Mac I am using a custom integrationtest sourcesets and an integrationtest configuration, where the dependencies of integrationtest are ignored in buildpath of eclipse. I am on gradle 4.6 and   Buildship 2.2.1.v20180125-1441.

When do you think the bug can be resolved?
My current workaround is using IntelliJ - but want to come back to Eclipse as soon as this will

[2018-05-04 20:11] copa2 commented on #667
Hi
I think this is not a bug in buildship.
A workaround is to name the sourceSet the same as the folder or completly different:
e.g. above sample:
Name of sourceset same (case-sensitive integration**T**est vs integration**t**est):
[code]
or
[code]
Problem occurs only when the sourceSet has the same name but different case-sensitivity.
I think this comes from from here:
https://docs.gradle.org/curr

[2018-05-05 20:57] lukeu commented on #689
Presumably adding the 'test' attribute to sources would be done in Gradle rather than Buildship? [Gradle issue 4802](https://github.com/gradle/gradle/issues/4802) appears to exist for that.

[2018-05-05 21:59] fbricon commented on #689
@lukeu that would only apply for sources. You also need Buildship to add the attribute to the matching classpath entries of the Gradle classpath container. This can't be expressed in the .classpath file

[2018-05-07 03:13] Camork commented on #632
Hi,
   I am glad to implement this feature, and i thought it should be like a hierarchy structure view before. Is this better than just project name in each project nodes? This is my idea.
![image](https://user-images.githubusercontent.com/19710731/39683295-4b40c6d0-51e7-11e8-80c6-47cce8ab311c.png)

[2018-05-07 09:49] lukeu commented on #689
@fbricon Right, I see now - the generated classpath(es) need to be flagged too.

Incidentally I had a tinker in the source, mainly for my own curiosity. I got the Gradle bit working (just a hack, not a complete solution). However I hit a blocker with Buildship (installed as per [the dev instructions](https://github.com/eclipse/buildship/blob/master/docs/development/Setup.md)) in that I couldn't fi

[2018-05-07 10:22] aram535 opened #698 ""Gradle Task" view never updates based on the open projects"
When you have multiple gradle projects and switch between them, the "Gradle Tasks" view never updates to show/hide the new projects.

Scenario:

Open Eclipse with ProjectA (already open).   Gradle Task View: ProjectA
ProjectA->Close, ProjectB->Open Project.  Gradle Task View: ProjectA
ProjectB->Gradle->Refresh... Gradle Task View: ProjectA

Eclipse IDE for Java Developers

Windows 10
Oracle Java 8

[2018-05-08 13:55] nniesen commented on #632
I preferred the flat alphabetical Gradle STS task list. It was quicker expanding trees. Two sorely missed features are the filter and the "run Gradle command" where I specify multiple tasks with our without the "project" selector (":"). Would be nice if users could choose between a flat view within a project or a hierarchical view.

[2018-05-10 12:55] donat commented on #632
@Camork your idea can be added to Buildship as a new `Order by` option for the context menu.

[2018-05-10 12:56] donat commented on #632
The project is always open for contribution. We are happy to guide anyone through the process.

[2018-05-10 13:00] donat commented on #698
Currently, you have to execute the `Refresh Gradle Project` action manually from the view's toolbar. There's a [PR](https://github.com/eclipse/buildship/pull/677) for that, we're just waiting for the contributor to reopen it with a clean commit history.

[2018-05-10 13:00] #698 closed

[2018-05-10 13:01] donat commented on #698
Duplicate of #385

[2018-05-10 13:02] #264 closed

[2018-05-10 13:35] Camork commented on #632
Yeah, It should be an option to user as we don't know what kind of view user wanted.

[2018-05-10 13:52] aram535 commented on #385
Just a note, that the work around does not work either.  You have to restart eclipse.

[2018-05-10 15:28] lukeu commented on #689
Just to say I'm now no longer blocked. I...
 * Built gradle from source, fixed [a crash](https://github.com/gradle/gradle/issues/5278)
 * Used the old dev instructions
 * Copied `tooling-e47.target` and cargo-crated it around to reference Eclipse's Photon p2 repo

and now have my own builds of Gradle and Buildship running with Photon. Yay! :-)

Note however: it's not really my intent to fix this,

[2018-05-10 15:45] lukeu commented on #696
Huh, I encountered this just yesterday also. In my case I had not edited the preferences, instead I....

 * Imported a gradle-project and specified a local gradle installation.
 * Later, deleted the projects
 * Imported the same gradle-project

As per default, the step of the wizard shown above had the "Override" checkbox cleared - meaning "use the workspace settings". However, after clicking [Nex

[2018-05-15 13:41] SchwingSK commented on #694
having this would help greatly in keeping the same behaviour between the 'eclipse' task & Buildship.

[2018-05-15 16:14] donat commented on #694
Thank you @lukeu for looking into the implementation of @oehme's proposal!
The implementation should be done inside Gradle entirely, so IMHO we can close this issue. This doesn't mean that I don't want the implementation to happen, I just want to keep the project's issue tracking up-to-date.

[2018-05-15 16:14] #694 closed

[2018-05-15 16:37] donat commented on #696
Yep, the problem is there, although it's already fixed on the 3.0 branch.

[2018-05-15 16:50] donat commented on #689
@lukeu Regarding the development environment, I've just added a `tooling-e48.target` file so that you can develop Buildship against Eclipse Photon. Also, you can execute the headless build with the `./gradlew clean build -Peclipse.version=48` command.

[2018-05-16 00:03] lukeu commented on #694
I figured out most of my questions in the end. A first cut at the code is referenced above - comments & suggestions welcome!

[2018-05-16 06:31] lukeu commented on #689
@donat, thanks that should make life easier

[2018-05-16 08:53] SchwingSK opened #700 "Gradle Wrapper version ignored in multiproject with master directory"
When a master folder is used in a multiproject, the gradle wrapper version is ignored for all projects save the 'master' project: for all other projects, Gradle 4.3 is used.

I made a very simple multiproject from the Gradle examples that reproduces the issue: [buildship-multiproject-bug](https://github.com/SchwingSK/buildship-multiproject-bug).

[2018-05-16 10:04] mauromol commented on #670
Any thought on this? I think it's quite an important issue.

[2018-05-16 10:08] mauromol commented on #670
Hmmm... the strange thing is that a subsequent "Refresh Gradle Project" seems to fix the issue and put the component file back to normal... At least this is what has just happened to me (wrong component file generated on first "refresh" after Gradle 4.2=>4.7 upgrade, right component file after a second "refresh"). If this is actually the case, the severity is indeed lower.

[2018-05-16 16:17] ChristianCiach commented on #594
Why is this issue closed? Even when gradle itself eventually exposes the configured annotation processors (I think it already does by now?), eclipse/buildship still has to create the eclipse configuration from it. So gradle/gradle#2300 will not automatically fix this issue for Buildship users.

[2018-05-16 16:19] ChristianCiach commented on #594
Right now, my build.grade file contains these dependencies:

[code]

So these are explicitly configured in Gradle. Can't Buildship pick these up?

[2018-05-17 13:53] dwaal commented on #330
Not so easy after all - issue still open?

Many devs I know including myself find themselves in the situation of spending a big chunk of their time fiddling around with Gradle. Now it seeps more and more into IDEs and makes them buggy and slow.

Maybe this is just a painful period before it all gets better but my understanding is, that the design of Gradle in general (on many levels, starting with

[2018-05-17 14:54] dwaal commented on #330
It's not a rant. Gradle is the new regex.

[2018-05-17 15:17] dwaal commented on #330
No point in opening issues. The very foundation of Gradle is the problem. Buildship is bad by extension.

But it doesn't matter. The fix is in and Gradle is inescapable if you do anything in the extended Java universe. My personal solution is to wait until Stockholm-syndrome hopefully soon kicks in.

[2018-05-17 15:21] thc202 opened #701 "Custom sourcesets no longer have access to main sourceset"
This worked fine in the past (don't know which version exactly), it no longer works with `2.2.1.v20180125-1441`. Related to #354?

Import a project with a custom sourceset, say `examples`:
[code]

Notice in the generated `.classpath` that `main` is not used by `examples`:
[code]

Attempting to run any of the examples from within Eclipse leads to `ClassNotFoundException`:
[code]

Let me know if mor

[2018-05-17 16:10] thc202 commented on #701
Not an issue, it was missing the wiring of the custom source set:
[code]
which does generate the expected classpath:
[code]

Sorry for the noise!

[2018-05-17 16:10] #701 closed

[2018-05-17 18:47] wordlessly commented on #330
We have similar code running. We wasted a lot of time on this and other Gradle/Groovy hacks but the issue goes back to 2015 and at some point we needed to fix it.

[2018-05-20 09:49] wbsouza commented on #620
I had a similar problem but combinin sub-projects and jars, the solution was based on @SheridanG  sugestion:

[code]

[2018-05-25 06:10] jtydhr88 opened #703 "It will lock the workbench resources when using GradleLaunchConfiguration to run task with "--continuous""
hey Guys,
When I am using **GradleRunConfigurationAttributes** and **GradleLaunchConfigurationManager** to get an ILaunchConfiguration that running some gradle tasks with "--continuous", it will lock the workbench/projects resources. it wouldn't happen on 2.2.1 but happening the latest 3.x.
Is that an issue? or am I using wrong way to run continuous tasks? Any Suggests?
Thanks a lot!

[2018-05-25 13:07] kuniss commented on #690
@donat, could you point us to the right point in source code where this may have to be added, as a starting point. We are checking whether we may get the skills to implement this new feature.

[2018-05-26 08:05] jtydhr88 commented on #703
Thanks so much on it

[2018-05-28 10:16] dwaal commented on #501
@donat is there an official statement from Gradle.org that Groovy will go away? When? Gradle 5, 6, 7, 8?

[2018-05-28 10:19] oehme commented on #501
Groovy will remain supported for a very long time, we just don't have the capacity to enhance it's IDE support. On the Kotlin side JetBrains is doing that work for us. If you want to see better support for Groovy scripting in Eclipse, then helping out the groovy-eclipse maintainers would be a good place to start.

[2018-05-28 12:39] kuniss commented on #690
@donat, we have found a colleague who would try to implement it. We would very appreciate to get a first pointing for a fast start. Would you, maybe, be able to provided it?
This is just to avoid getting familiar with whole source base of Buildship only to figure out where to start.

[2018-05-28 13:58] dwaal commented on #501
You wrote that you will "phase out Groovy in the long run". Is this just some internal thing you say or is this official? I guess there is no time frame when to phase it out? 2, 4, 6 years?

[2018-05-28 14:15] oehme commented on #501
We don't have a time-frame for this yet. The Kotlin DSL is only reaching 1.0. Any planning about actually phasing out Groovy will only start when the majority of our user base have migrated, which will take years.

[2018-05-28 14:18] dwaal commented on #501
Thanks for the info. Why remove Groovy? Is Kotlin so much superior? Supporting groovy-eclipse seems a dead end then since Gradle was the last place where it is really used. Grails seems also dead.

[2018-05-28 14:44] oehme commented on #501
The main reason is IDE support and static typing, so that our users get proper auto completion etc. Groovy has `@CompileStatic`, but IDE support for it has remained spotty.

[2018-05-28 15:21] donat commented on #690
@kuniss That is awesome news, thank you for sparing time for this.

We had an internal discussion, and there are a couple of ways we could implement this feature. The concern here is that none of the options are easy to implement and our current schedule too tight right now to give you a proper specification and guidance for the implementation.

Nevertheless, we don't want pass on this opportunity

[2018-05-29 08:11] kuniss commented on #690
@donat Great!
We should do this in the first week of July.
Let's arrange this offline by mail. @breskeby should have my company contact data.
Or, you write me a mail to my personal e-mail address - see my GitHub account.

[2018-05-29 09:07] simonjhy commented on #703
maybe the DefaultToolingApiOperationManager should not call "ResourcesPlugin.getWorkspace().run(new WorkspaceRunnableAdapter(runnable, tokenSource), efficientMonitor)" to run a WorkspaceRunnable thread. This will be conflict with the SynchronizationJob, all of them will be lock whole  eclipse workspace.  When we run two tasks, one of them is a long duration task, then the other task will be hold o

[2018-05-31 08:50] donat commented on #690
I've created a [public event](https://calendar.google.com/event?action=TEMPLATE&tmeid=NDc3Z2VxbWVrNzFmYzI5ODdsdWI5aW1mYnIgZG9uYXRAZ3JhZGxlLmNvbQ&tmsrc=donat%40gradle.com) in Google Calendar so that everyone who is interested in the spec and/or the implementation can join (/cc @lukeu).

@kuniss I've added your email address from your GH profile to the meeting.

[2018-06-01 09:21] vittali opened #708 "Multi-project, multi-module does not work in Eclipse"
The[ tutorial project](https://guides.gradle.org/building-java-9-modules/?_ga=2.38402981.729933727.1527677241-1265725579.1520507422#step_2_produce_java_9_modules_for_all_subprojects) does not compile in Eclipse. Various workarounds have been suggested ( issues #620, #658, for example) non of them allows the tutorial to compile cleanly in Eclipse ( although the tutorial compiles and runs as expecte

[2018-06-01 09:27] oehme commented on #708
Closing as a duplicate of #658. Gradle's eclipse plugin is currently completely unaware of any Java module system specifics and is therefor not expected to work for modular projects.

[2018-06-01 09:27] #708 closed

[2018-06-01 09:35] vittali commented on #708
So what do people do if they want to use gradle + eclipse to develop java modules ? Isn't this a widespread requirement ?
Is there a workaround ? Is there a roadmap ? Another IDE ?

[2018-06-01 09:40] oehme commented on #708
We only got a handful of requests for supporting modules in general, so it hasn't been a widespread requirement until now. I expect this to change with Java 11 coming up, so we'll probably come up with a roadmap in the second half of the year.

[2018-06-01 12:27] vittali commented on #708
While I understand and accept that this is currently not a prioritiy, I still struggle to understand:

- why this is related to Java 11,
- more importantly, why publish (1) an excellent guide on how to use modules, and (2) an experimental plugin ( that works fine for me) without taking the additional (3) step to allow people to really use this guide and this plugin (or the workarounds from the gui

[2018-06-01 12:35] oehme commented on #708
I haven't tried this out in Eclipse, but I would have assumed that it would work, just not showing you module-system related problems. It should compile and run as if it was a classpath-based project. I know this isn't great, but you shouldn't be blocked from editing in the IDE.

So my basic question is: When you just import the example project as-is, what problems does Eclipse show you?

[2018-06-01 13:08] vittali commented on #708
These are steps:
[code]
In Eclipse, I import the gradle project. See shot:
![708-1](https://user-images.githubusercontent.com/6834082/40841609-5b2b6852-65ab-11e8-80ee-02504c39f10c.png)

I now have lots of compile errors:

![708-2](https://user-images.githubusercontent.com/6834082/40841663-84552f7e-65ab-11e8-996a-f3a780f56dfa.png)

In particular, the only project that compiles is `tale` because it

[2018-06-01 13:10] oehme commented on #708
Okay let me try to understand: Just because you added a module descriptor, Eclipse insists on treating your project as a modular project? That sounds like the underlying problem. There should be a way to opt out of this, be it just for backwards compatibility reasons.

[2018-06-01 13:39] vittali commented on #708
I didn't add anything !
As shown, I imported the tutorial project exactly as you published it on github.
The module descriptor is already in the completed step 2 `2-all-modules`.

[2018-06-01 13:42] oehme commented on #708
I didn't say you added anything. I'm saying that this project is a plain old Java project, but Eclipse insists on treating it as a module despite it not being fully configured as such.

[2018-06-01 13:59] oehme commented on #708
Just imported the same project in IDEA and everything works fine. So this is Eclipse being overly picky about its configuration. IDEA does not distinguish between module path and classpath in the UI, it seems to figure out a good configuration itself under the hood.

[2018-06-01 14:03] vittali commented on #708
Stefan, I am sorry, I didn't mean to be offensive, I just wanted to be sure that we start from a common baseline.

Independent of technical reasons, from my perspective as a gradle user, I see three possible cases:
1) I am missing something very obivous
2) The mentioned tutorial doesn't work for whatever reason for Eclipse users, but there is a simple workaround
3) The mentioned tutorial doesn't w

[2018-06-01 14:14] oehme commented on #708
See my previous answer, Eclipse is being overly picky here, IDEA handles this without a hitch. So yes, there is no simple workaround and I'll have to recommend using IDEA until we find some way to fix this.

[2018-06-01 14:29] vittali commented on #708
Thank you, that's good to know (albeit unpleasant), maybe it would be useful to mention this in the guide as well ?

[2018-06-01 14:29] oehme commented on #708
Yes, this wasn't tested when we wrote the guide, as our whole team is on IDEA. Would you be interested in sending a small PR to the guide repository?

[2018-06-01 14:48] oehme commented on #708
Yep, that's right 👍

[2018-06-01 16:02] vittali commented on #708
I opened a pull request but forgot to sign-off. The way to fix this seems to be explained [here](https://discuss.gradle.org/t/change-in-the-contribution-process/25011), but the relevant [link](https://github.com/gradle/gradle/blob/master/.github/CONTRIBUTING.md) is dead.

[2018-06-01 17:16] vittali commented on #708
[code]
Hopefully, this is correct ...

[2018-06-04 09:53] oehme commented on #398
That's the `bin` folder, which JDT should handle, not Buildship. Could you open a bug for JDT?

[2018-06-05 10:08] moley commented on #697
Hi, any news on this issue? Do you need additional things to reproduce/fix?

[2018-06-05 21:16] lukeu commented on #697
Can't say I have any experience with ear plugins (well, not since my days of playing in a band...) but I wonder if [this post](https://discuss.gradle.org/t/wtp-currently-does-not-support-mixed-deployment-paths/20404/24) might contain some info. E.g. this workaround stops the error dialog, if that's acceptable:

    eclipse.classpath.minusConfigurations << configurations.deploy

It also mentions th

[2018-06-06 09:59] moley commented on #697
I am musician too, but not using "in ear - plugins" yet. Only at work :-)

Thank you for your workaround. This works partially for me.

In some projects it's OK, but I have projects, where I have a dependency as both compile dependency and deploy dependency - and for this scenario I get compile errors in my project because this dependency is compeletly removed from buildpath in eclipse :-)
As you

[2018-06-06 11:42] donat commented on #690
Thanks for the update. It's a pity you can't make it.

[2018-06-06 13:53] oehme commented on #697
Yes, we should definitely only fail if WTP is installed.

The problem is that the WTP plugin does not allow you to make the deployment path of individual libraries inside a dependency container. It only lets you mark the whole container. So having both `deploy` and `earlib` with Buildship and WTP is not possible at the moment :(

[2018-06-07 06:55] moley commented on #697
Hi Stefan,

Thanks for clearification - this helps me a lot. Do you know if WTP plugin has any plans to fix this limitation? By the way - Is using **deploy** and **earlib** at the same time such an abnormal use case? Or do I have to model my project in a different way? Do you know how others do this?

Kind regards
Markus

[2018-06-07 07:18] oehme commented on #697
The Maven team already tried to convince the WTP team, but that [discussion](https://bugs.eclipse.org/bugs/show_bug.cgi?id=128851) went nowhere. It seems the maintainer was not aware that you can have different deploy paths. He only added a "no deploy" option.

I think having both deploy and earlib is a perfectly normal use case, we're just limited by what WTP gives us. The only workaround I can t

[2018-06-07 08:50] moley commented on #697
Ok, thank you for the info. So - I think our only hope is this discussion getting new drive again in the future and meanwhile I think we will recommend our developers to use no WTP plugin or to use IntelliJ instead (which is not my own intention. But if not working I think we have no choice.
Thank you for all your infos and your work in buildship. I enjoy to see all the progress done using gradle

[2018-06-07 09:03] oehme commented on #697
Would you be interested in providing a PR to deactivate that logic when WTP isn't present?

[2018-06-07 10:59] moley commented on #697
yes, this would be nice.

[2018-06-07 12:04] vogella opened #709 "No focus on project import wizard"
If I use the Gradle import wizard (with the help first page active) the "Project root directory" is not getting focus in most cases.

Prevents me from typing or using tab to jump to the Browser button.

![image](https://user-images.githubusercontent.com/139910/41098438-a8523782-6a5b-11e8-86dc-02bb88e65388.png)

![image](https://user-images.githubusercontent.com/139910/41098451-b475b6d8-6a5b-11e8-9

[2018-06-11 08:39] howlger commented on #689
Workaround that works for me in Eclipse Photon RC2: https://github.com/gradle/gradle/issues/4802#issuecomment-396165166

[2018-06-11 14:05] mkaushar-healthplan commented on #451
hi guys,
i am facing this issues when creating module project in liferay 7. Please help me

org.gradle.tooling.BuildException: Could not fetch model of type 'EclipseProject' using Gradle distribution 'https://services.gradle.org/distributions/gradle-3.0-bin.zip'.
	at org.gradle.tooling.internal.consumer.ExceptionTransformer.transform(ExceptionTransformer.java:51)
	at org.gradle.tooling.internal.co

[2018-06-12 07:40] eaaltonen commented on #451
@mkaushar-healthplan If you read your stack trace carefully and follow the "Caused by" parts, you will notice the line

    Caused by: org.gradle.api.UncheckedIOException: Could not GET 'https://cdn.lfrs.sl/repository.liferay.com/nexus/content/groups/public/com/liferay/com.liferay.gradle.plugins/3.3.9/com.liferay.gradle.plugins-3.3.9.pom'. Received status code 401 from server: Unauthorized

Your p

[2018-06-15 09:25] GFriedrich commented on #222
Hi guys,
did you receive an update from Jetbrains in the meantime?
Because now all Kotlin Eclipse tickets vanished from their YouTrack instance.

I've also put this question into their discourse instance. Let's see what they will answer: https://discuss.kotlinlang.org/t/youtrack-kotlin-eclipse-project-gone/8161

If you've any information, it would be nice to know them.
Thanks in advance.

[2018-06-16 09:51] donat commented on #222
Not much has moved ever since. Last time I've checked the state of Kotlin-Eclipse it was still kind of unusable in production.

[2018-06-18 10:41] ChristianCiach commented on #265
We need this to automatically trigger `eclipseFactorypath` and `eclipstJdtApt` of the APT-Plugin. There is no way that I convince all my colleagues to manually run these tasks every time the factory path changes.

[2018-06-18 10:42] ChristianCiach commented on #266
We need this to automatically trigger `eclipseFactorypath` and `eclipstJdtApt` of the APT-Plugin. There is no way that I convince all my colleagues to manually run these tasks every time the factory path changes.

[2018-06-18 19:07] DJViking commented on #658
Isn't this something that has to be fixed in the Gradle eclipse plugin?

[2018-06-19 15:56] HoldYourWaffle commented on #658
Well..... yeah.
That's why we're here.

[2018-06-19 17:45] DJViking commented on #658
We are at eclipse buildship. That is why I asked.

[2018-06-21 13:03] Gentleman1983 commented on #266
Same here considering the `eclipse` and `eclipse-wtp` tasks.

[2018-06-21 13:03] Gentleman1983 commented on #265
Same here considering the `eclipse` and `eclipse-wtp` tasks.

[2018-06-23 09:12] HoldYourWaffle commented on #658
Damn you just blew my mind.

[2018-06-25 09:27] joemarner opened #710 "Running integration tests with subproject dependency yields NoClassDefFound"
Hi,

I have two subprojects a and b where a depends on classes of b. When running a test in project a that depends on classes of project b in eclipse via "Run as JUnit Test" , I get a NoClassDefFound b exception. Running the test via gradlew on the command line works fine. Using the gradle task in eclipse ("Run as gradle Test") seems to not execute any test at all.

Setup:
jdk-9.0.4
eclipse 4.7.3a

[2018-06-25 11:07] oehme commented on #710
You used `compile project(':b')`, but didn't specify that `intTestCompile` should extend `testCompile`. Either use `implementation project(':b')` or add the missing extends clause.

[2018-06-25 11:16] oehme commented on #710
@donat I noticed that we don't create classpath attributes for project dependencies. Does Buildship wrongly filter them even though they don't have these attributes? Also, shouldn't they have these attributes?

[2018-06-25 11:58] joemarner commented on #710
Hi,

hanks for your fast reply. I tried your hint with adding testCompile project(':b') to the dependencies, but this did not solve it for me.

Also https://docs.gradle.org/current/userguide/java_plugin.html says, that testCompile inherits from compile (and that both are deprecated and are replaced by implementation). So a dependency to b in compile should also be valid for testCompile.

Strange e

[2018-06-25 13:20] oehme commented on #710
Nevermind my earlier comment, it wasn't the problem :)

[2018-06-25 16:06] donat commented on #710
The missing resource is due to the classpath separation we introduced in [Buildship 2.2](https://projects.eclipse.org/projects/tools.buildship/releases/2.2.0). Unfortunately, it's only an approximation to what Gradle does, due to the limitation of Eclipse JDT.

The separation in Eclipse is done based on the source sets. If you run a test from the `test` source set, then all classes will be loaded

[2018-06-25 16:18] oehme commented on #710
@donat We should probably improve that by detecting that `intTest` is an extension of `main` and should thus see everything that `main` can see. I think that would have fixed this particular issue.

[2018-06-25 16:38] donat commented on #710
Agreed. We could probably do it together with https://github.com/eclipse/buildship/issues/689.

[2018-06-28 18:42] ChristianCiach commented on #398
@oehme
I don't think this should be handled by JDT, because the Gradle-Root-Project (which bin-folder is shown in the "open resource" dialog) is not a Java-project. It doesn't have a java-nature and thus is not handled by JDT.

[2018-06-28 18:48] ChristianCiach commented on #398
I believe this issue to be closely related with the fact, that "File search" results are listed twice: Once under the gradle-root-project and once under the subproject. This is mildly infuriating.

[2018-06-29 06:45] UdoW opened #711 "Please add more API examples"
Please add more API examples to your already started page: https://github.com/eclipse/buildship/blob/master/docs/development/ApiExamples.md

Or where can I get information on how to extend  Buildship from with-in my own plug-ins and what is possible to extend?

[2018-06-29 07:14] oehme commented on #398
This is JDT-related, because it is not handling nested projects correctly. The bin folder in the root project should not be shown, because it is already shown in the also imported subproject. That's completely unrelated to Gradle and happens with any nested project structure.

[2018-07-03 09:35] vogella opened #712 "Use code mining to allow user to update the classpath via the Gradle editor"
If a user edits the build.gradle file he can update the classpath via right-mouse click. It would be nice if this can be done inline. For example, for the target editor I'm working to allow its activation via the text editor and code mining.

![activate](https://user-images.githubusercontent.com/139910/42211901-f4220ac6-7eb4-11e8-805c-f35f743fc676.png)

The related code changes can be found here:

[2018-07-03 13:08] donat commented on #711
There's no other public API to document at the moment.
There's, however, an ongoing effort to collect requirements for a stable API. We'll soon implement a stable API based on the discussion [here](https://github.com/eclipse/buildship/issues/676).

Can you please elaborate what you are trying to achieve? Just add a comment there, and we'll see what can we do.

[2018-07-03 13:08] #711 closed

[2018-07-03 15:07] oehme commented on #712
What does inline mean? What is "code mining" in this context? I can't really tell from the screenshot. Maybe a screencast would help?

[2018-07-03 15:27] vogella commented on #712
Ah, sorry, I assume everyone knows about the Eclipse 4.8 code mining API.

Code mining are called code lenses in VSCode and allow to enhance the source code with additional information. In the above screenshot Set as Active Target Platform is not part of the source file, it is added as additional information and action which (should) allow to active the target platform.

Other, more complex exampl

[2018-07-03 15:28] oehme commented on #712
Got it, thanks! That looks useful indeed. Would be a great community contribution.

[2018-07-04 20:09] vogella opened #713 "build folder in Eclipse not refreshed after a build"
As I generate documentation with Gradle I make the build folder visible to open the generated html.

![javamag-gradle30](https://user-images.githubusercontent.com/139910/42292945-9709d102-7fd6-11e8-8a8a-94dcb0f32d56.png)

I noticed that after a build the build folder (or the project) is not refreshed, I need to refresh manually.

To reproduce:
[code]
Create a file test.adoc with the following cont

[2018-07-04 20:11] vogella commented on #713
FYI - Next german Java Magazin Eclipse article will point to this issue, it covers how to create documentation with Eclipse, Asciidoctor and Gradle.

[2018-07-05 15:05] learnerEvermore commented on #689
This is of great importance and interest. It would partially resolve [Main vs. test, compile vs runtime classpaths in Eclipse - once and for all, how?](https://discuss.gradle.org/t/main-vs-test-compile-vs-runtime-classpaths-in-eclipse-once-and-for-all-how/17403)

[2018-07-06 07:13] UdoW commented on #676
I would like to be able to call Gradle tasks from wizards, event handlers and other UI interfaces.

[2018-07-06 07:45] simonjhy commented on #676
I want to make the import API provide some callback interface to let client can know when project successfully import or failed or add some extension points.

[2018-07-11 14:23] donat opened #714 "RuntimeClasspathTest fails with Gradle 4.4+"
This problem surfaced after we updated the Tooling API to 4.8.1.

Maybe we use the latest released Gradle version as the default when running the integration tests.

[2018-07-12 06:47] donat opened #715 "Display error dialog when an unsupported Gradle version is used"
In Buildship 3.0 we decided to support Gradle versions >= 2.9 only. There's no validation in place, however, so users can specify any versions. This can lead to misleading error messages and ambiguous error reports. Buildship should verify the used Gradle version and explicitly let the user know that he or she is using an unsupported Gradle version.

[2018-07-12 06:54] donat opened #716 "Implement plugin tracing"
When investigating Buildship issues, it is often a problem to investigate the internals of the plugin. For instance, the classpath attributes and access rules defined on the entries of the Gradle classpath container can only be verified via debugging. The same goes to the runtime classpath calculation.

I think it would be beneficial to make use of the [platform tracing](https://wiki.eclipse.org/F

[2018-07-12 15:32] donat opened #718 "Raise minimum execution environment to Java 8"
Java 7 reached EOL 3 years ago already. Buildship has Java 7 builds because few older Eclipse releases specify Java 7 as a minimal execution environment. Supporting Java 7 has become harder and harder. The latest example is that the build broke because Maven Central and Bintray [discontinued the support for older TLS protocols](https://blog.gradle.org/unable-to-download-maven-central-bintray). Als

[2018-07-13 06:02] moley commented on #697
Hi Stefan,

could you please give me some feedback on this issue? Can you give me advice were to add my test? How do you write tests which need eclipse runtime details? Do you have ui tests, were I can add?

Thanks for you answer

[2018-07-13 07:02] oehme commented on #697
@donat Can you point @moley in the right direction. We should have an integration test for this, mocking the existence of WTP. I think we did this in other cases already.

[2018-07-13 08:32] donat commented on #697
The Buildship WTP tests are available [here](https://github.com/eclipse/buildship/blob/release-3.0/org.eclipse.buildship.core.test/src/main/groovy/org/eclipse/buildship/core/workspace/internal/ImportingWtpProjects.groovy). You can set up a development environment [via Oomph](https://github.com/eclipse/buildship/blob/master/docs/development/Setup.md). A few notes here:
- There might be some compila

[2018-07-13 12:08] moley commented on #697
Hi @donat,
Thanks for all your infos, I will give it a try on monday

[2018-07-13 12:09] donat commented on #697
Sure thing. Don't hesitate to reach out to me if you are stuck, I'm happy to help.

[2018-07-16 14:57] donat commented on #697
The tests should pass. You can check [our CI builds](https://builds.gradle.org/project.html?projectId=Tooling_Buildship&tab=projectOverview) for comparison (credentials: guest/guest). Does the problem happen on the command line (`./gradlew eclipseTest`)?

Judging from the line number, the test failed because Gradle was unable to resolve the dependencies. Can you investigate those issues with the f

[2018-07-18 11:47] Frontrider commented on #697
Waiting for the results. In our case eclipse also stops the importing process altogether, leaving us with a fraction of the project accessible from eclipse ,so I'd call it a fatal issue.
eclipse photon

[2018-07-19 09:14] moley commented on #697
OK, tests are running - I think I have started them as ordinary unit tests by accident

[2018-07-19 12:35] moley commented on #697
Hi, I am creating a testcase for my scenario. In real life we have a project which does not apply war plugin, but only jar and ear plugin. In my testcase I have the same, but my dependencies get the classpath attribute org.eclipse.jst.component.nodependency. How can I change this to org.eclipse.jst.component.dependency?

Cheers
Markus

[2018-07-19 21:18] ybayk commented on #265
This feature indeed would be very useful for generated sources. Currently we have to instruct developers that Gradle import/refresh is not sufficient, and one extra task has to be executed from command line.

[2018-07-20 06:54] moley commented on #697
Fixed by pull request [(https://github.com/eclipse/buildship/pull/720)]

[2018-07-20 07:44] Frontrider commented on #697
Waiting for it.

[2018-07-20 13:49] donat opened #721 "Revisit build scripts and test infrastructure"
There are a couple of problems with the build and test structuring:
- Currently, we have several code duplications between the `core.test` and the `ui.test` project. We should extract all test fixtures to a common `testfixtures` plugin.
- We should address the existing flakiness in our tests.
- The build scripts use an old Eclipse SDK version, that is very inefficient and can fail randomly.
The bu

[2018-07-20 14:08] donat opened #722 "Design project synchronisation API"
https://docs.google.com/document/d/1tZ8kAVayZ1fnoQjmcgKOV63c-L0h-x21OTJCyT5Waxo/edit#
I'll post the document on #256 once it's ready for public review.

[2018-07-20 14:14] donat opened #723 "Define public API for enumerating and invoking tasks"
From https://github.com/eclipse/buildship/issues/676#issuecomment-402948056

[2018-07-20 14:15] donat commented on #723
@UdoW Can you please elaborate what exactly want to do and what do you expect from this API?

[2018-07-20 14:18] donat commented on #723
I think we have quite a few features planned for Buildship 3.0, so this story will be implemented later. Nonetheless, let's see if others are also interested in this. If so, we'll reconsider the prioritization.

[2018-07-20 14:19] donat commented on #676
@UdoW see my comments at #723.

[2018-07-20 14:33] donat commented on #621
@fbricon Is it possible to specify a commit hash in the header entry? Something like

[code]

If so then we can associate all releases with the sources.

[2018-07-20 14:37] donat commented on #621
Sorry, found my answer. FTR:
[code]

[2018-07-20 14:44] donat commented on #255
We'll separate the public and private elements of buildship as part of 722.

[2018-07-20 14:44] #255 closed

[2018-07-20 14:56] donat commented on #676
We discussed it internally and concluded that we'll provide the project import API for Buildship 3.0. Thanks everyone for the comments and suggestions.

I'm closing this issue now. It is just a technicality though, to keep our project board up-to-date. If you have more to add feel free to comment on this ticket or create a new one.

@kdvolder @simonjhy: keep an eye on #722 and #326 :)

[2018-07-20 14:56] #676 closed

[2018-07-20 14:58] donat opened #724 "Design project configurator API"

[2018-07-20 20:55] fraenkelc commented on #690
Is this feature being worked on? If not I'd like to take a stab at it.

[2018-07-23 12:39] donat opened #725 "Design task execution API"

[2018-07-23 12:40] donat opened #726 "Implement API access to the Tooling API"
# Overview

The Buildship downstream dependencies need to directly interact with the Gradle build. They want to extract arbitrary information from the build, query available tasks and run them. The Tooling API offers the necessary services to do that. Buildship already relies on this TAPI functionality, but there’s no convenient way to do the same for the dependencies.

# Design
The [ProjectConnec

[2018-07-23 12:43] donat commented on #676
@UdoW Change of plans. We discussed it internally and decided to implement the [task execution API](#725) as part of Buildship 3.0.

[2018-07-23 13:13] donat commented on #621
Fixed by https://github.com/eclipse/buildship/commit/4330972ee476ae203d3df81535064ee5668cb2f3 on master and https://github.com/eclipse/buildship/commit/aca9a98b3eb3b4a6e98308aad0a6292ef0074f48 on release.

[2018-07-23 13:13] #621 closed

[2018-07-23 14:02] UdoW commented on #725
I would like to call a Buildship API from my plug-in code:

The use cases:
- from a UI handler: toolbar button, menu or pop-up menu
- from a dialog, probably a  wizard

The API:
- I want to set the task name and start the task.
- I want to be informed when the task is finished.
- I want to be informed what went wrong if there was an error. It would be nice if there would be a different exception t

[2018-07-23 16:03] donat commented on #723
Superseded by #725

[2018-07-23 16:03] #723 closed

[2018-07-25 19:08] eric-milles opened #727 "Refresh Gradle Project action is not triggering eclipse.jdt.whenMerged"
Consider the following:
[code]

When I trigger Refresh Gradle Project (or auto sync is enabled and `build.gradle` is saved), I only see the following in the Console view:
[code]

Any customizations added within `jdt` like `file.whenMerged` or `file.withProperties` are not executed.

[2018-07-26 06:46] walec51 commented on #249
Just take a look how Netbeans and IntelliJ Gradle integration looks like.
You can right click on a Gradle task in the tasks view and choose to run it in debug mode.
You can select any test method of class and choose to run it in debug mode which runs it using Gradle and NOT the IDEs internal test runner. In Intellij this requires an extra configuration step. On Netbeans works with through gradle o

[2018-07-26 10:57] crc83 commented on #690
Me too @fraenkelc . May we work together to implement it?

[2018-07-26 14:14] kuniss commented on #690
@fraenkelc, @crc83, we are planning to discuss an implementation strategy with the Gradle guys August 7th 10-11am Berlin time. I may try to forward the invitation to, if you want. Please give me an hint then here.

[2018-07-26 15:35] crc83 commented on #690
Great. Please drop me an invitation or by email sergiy.beley at gmail.com

[2018-07-26 21:37] fraenkelc commented on #690
I don't think I can make that time slot due to my working hours.

I did create a somewhat working proof of concept for this issue (or at least parts of it) some days ago on these branches:
https://github.com/fraenkelc/gradle/tree/buildship_closed_projects
https://github.com/fraenkelc/buildship/tree/buildship_closed_projects

What works is replacement of project dependencies on closed projects from

[2018-07-27 09:30] kuniss commented on #690
Great, @fraenkelc!
We are not claiming for the implementation, either. We want have it for usage in any way...

We just wanted to start too asking @donat for a hint.  But he wanted to have a discussion because some points seems not to be such easy. I think, we should listen to him.
Would be great if you could attend. @donat, could you invite both? I'm not able to forward the meeting invitation, cu

[2018-07-30 12:05] clo-vis commented on #496
_implementation_ dependencies are not the only ones not published; _api_ dependencies are also ignored.
(this happens if the war project depends on a java-library which is included with _includeBuild_)

[2018-07-30 12:11] onmishkin opened #728 ""Refresh Gradle Project" intermittently/temporarily greyed out (disabled)"
Since updating my Eclipse installation to Photon, I sometimes see a behavior where when I right-click on a project and do _Gradle > Rebuild Gradle Project_, that menu item is greyed out (disabled). Usually if I click off and try again it shows up enabled.

[2018-08-02 07:11] NHendricks opened #729 "Feature request: Configure jre in eclipse preferences"
as i can set JAVA_HOME on the command line to specify the jre for my build i would like to configure the jre for builds triggered by buildship in eclipse.
My suggestion would be to choose a jre from the installed jres at the gradle preference page.

[2018-08-06 11:36] kuniss commented on #690
I forwarded the invitation to @crc83. Unfortunately, I do not have your mail, @fraenkelc ...
@donat, could forward the invitation to  @fraenkelc, please.

[2018-08-06 13:26] crc83 commented on #690
Thank you. I'll be there

[2018-08-06 17:00] fraenkelc commented on #690
I've tried to free that time slot but it didn't work out due to work obligations. It would be great if you could post a short summary on what was decided after the meeting.

[2018-08-07 09:34] donat commented on #690
@fraenkelc We've finished with the meeting. We agreed that Buildship needs two separate features: workspace composite and partial import. We'll soon share a document containing an initial specification for both features. Once we have an agreement, we create a new issue on GitHub so that any contributor can pick the story up and implement it.

 Send me your email address so that I can share my meet

[2018-08-07 12:59] #697 closed

[2018-08-07 14:32] donat commented on #713
The task execution action doesn't refresh any project resources. I think we should approach this in a more generic way: all project resources should be refreshed after task execution. For that, we already have https://github.com/eclipse/buildship/issues/339 open.

[2018-08-07 14:33] donat commented on #713
Superseded by #339.

[2018-08-07 14:33] #713 closed

[2018-08-07 15:01] donat commented on #727
I don't think we'll do that. We added support for `eclipse.classpath.file.whenMerged` to quickly enable Eclipse/JDT metadata customization where no Gradle API is available at the moment. This is more of a hack and we don't plan to do the same at other places.

We plan to implement https://github.com/eclipse/buildship/issues/265 which will be a general solution for project customization.

[2018-08-07 15:01] #727 closed

[2018-08-07 15:25] eric-milles commented on #727
Is there any way to at least give the user a clue `jdt.file.whenMerged` will not run?  I spent a lot of time reading the eclipse plugin docs to understand if I was doing something wrong.  When all along it was because Buildship was running 2 of 3 closures.

[2018-08-10 09:56] Chewbizz commented on #478
I also have this issue which seems to appear on subprojects of my multi-module projects.
My setup is quite complex, so it's not easy to make a reproductible test case: I have a custom gradle "eclipse" task that adds buildship nature to my .project files and creates the .settings/org.eclipse.buildship.core.prefs to set the required connection.project.dir property.

Closing/re-openning the projects

[2018-08-10 16:26] donat commented on #729
We didn't implement this because we want to minimize the difference between Gradle executions started from the IDE and the command line. Users can specify the Java home in the Gradle preferences.

Having that said, I'm not completely against the idea. We could add a small UI where the user could select the JRE from Eclipse or pick up the default from the configuration. If a custom JDE is selected,

[2018-08-15 18:20] moseslecce opened #730 "Run Configuration shows double prompts when using ${string_prompt} in Arguments"
If you setup a build configuration where you are prompting the user for input (e.g. -Psomevar=${string_prompt:value}) upon running you will get a Variable input dialog box as expected.  Once you press ok (or cancel) an additional dialog box will appear again asking for the input.

NB: Only the value from the second dialog box is used.

[2018-08-16 08:23] donat opened #731 "Design hierarchical preferences API"
We already have an API for Buildship preferences, but it is kind of cluttered and has some modeling errors. Also this API is required by the import API work where the clients need to specify the import properties.

[2018-08-16 08:25] donat opened #732 "Implement hierarchical preferences API"
# Overview

This is a pre-requisite for the import API implementation. In order to import new projects into the workspace, clients need to be able to specify build configuration for the project. We already have an internal API for hierarchical preferences but it has some modeling and redundancy problems and  that should be cleaned up before making it public.

# Design

The API should support three

[2018-08-16 08:40] donat opened #733 "Reorganize package structure for public API"
When implementing any new APIs we should restructure the package names as follows:
- Move org.eclipse.buildship.core package to org.eclipse.buildship.core.internal and to the same in the other plugins.
- Merge existing `.internal` packages with their parent packages.
- Use the org.eclipse.buildship.core package for the API classes.

[2018-08-16 09:46] donat commented on #731
The API design is published at #732.

[2018-08-16 09:46] #731 closed

[2018-08-16 10:03] donat commented on #722
API design published in #256

[2018-08-16 10:03] #722 closed

[2018-08-16 12:59] donat commented on #724
Design published in #326

[2018-08-16 12:59] #724 closed

[2018-08-16 13:07] donat commented on #676
Hi everyone! Just a quick FYI. I've published the specifications for the proposed Buildship 3.0 APIs:
- hierarchical preferences: https://github.com/eclipse/buildship/issues/732
- project synchronization: https://github.com/eclipse/buildship/issues/256
- Tooling API access: https://github.com/eclipse/buildship/issues/726
- project configurators: https://github.com/eclipse/buildship/issues/326

If

[2018-08-16 14:39] vpogrebi commented on #622
I have problems debugging Gradle build (as a Remote Java Application)... I've tried all possible solutions that I found (using '-Dorg.gradle.jvmargs', $GRADLE_OPTS, etc. settings) - nothing works.

What happens - is that breakpoint apparently gets "recognized", but Eclipse does not find the source code (even though build.gradle file and all local plugins are right there in my project) and generate

[2018-08-17 08:42] donat commented on #726
Required story in Gradle: https://github.com/gradle/gradle/issues/6404

[2018-08-17 14:39] armandomejiam commented on #356
+1

[2018-08-20 14:19] UdoW opened #734 "How to install Buildship and Xtext 2.14 in same Eclipse?"
I want to use Buildship (3.x SNAPSHOT) and Xtext 2.14 in same Eclipse (Photon).

Xtext depends on Guava 21. Buildship depends on Guava 15.

When building  a product with both features Guava 21 is selected, so Buildship's dependencies cannot be resolved.

How could I proceed?

[2018-08-21 08:34] donat commented on #734
Closing as duplicate of #285 .

[2018-08-21 08:34] #734 closed

[2018-08-21 09:54] UdoW commented on #734
There is a Buildship 3.x SNAPSHOT release already in your repository. I tried to intergrate that in my new release but couldn't because of old version of Guava.

When do you change the version of Guava in the SNAPSHOT release? Is there a change date defined already?

[2018-08-21 09:57] donat commented on #734
It's not precisely defined, but it's part of our next big sprint. If you install [ZenHub](https://github.com/eclipse/buildship#issue-tracking) into your browser you can check the [progress](https://github.com/eclipse/buildship/pulls#reports?report=burndown&milestoneId=2647009).

[2018-08-21 11:27] UdoW commented on #734
I figured out this new target for Eclipse 4.8:

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
       <unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
       <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
       <unit id="org.junit" version="4.12.0.v201504281640"/>
       <unit id="

[2018-08-21 12:35] spoenemann commented on #344
Related: gradle/gradle#898

What workaround could be applied until this is solved?

[2018-08-21 14:02] donat commented on #734
Interesting. I have a recollection of the same problem reported on windows, however, it never happens on our CI infrastructure.

The problem occurs in the [build sources](https://github.com/eclipse/buildship/blob/master/buildSrc/src/main/groovy/eclipsebuild/mavenize/DeployMavenAntTaskExecutor.groovy#L32). The script tries to load an ant task from a dependency jar. I'd put a few `println` statement

[2018-08-22 04:31] UdoW commented on #734
Why don't you use Tycho to build your Eclipse feature?

[2018-08-22 11:55] #703 closed

[2018-08-22 14:27] donat commented on #344
Not really at the moment, however, we'll soon implement new APIs that might be useful for you. We're going enable clients to [hook into the project synchronization](https://github.com/eclipse/buildship/issues/326) and to [access the Tooling APIs](https://github.com/eclipse/buildship/issues/726) to query arbitrary configuration from the Gradle build.

[2018-08-22 15:20] donat opened #737 "Create interface to access public API services"

[2018-08-22 15:21] donat opened #738 "Move and adjust workspace configuration API"

[2018-08-22 15:22] donat opened #739 "Verify workspace configuration test coverage"

[2018-08-22 15:23] donat opened #740 "Move and adjust build configuration API"

[2018-08-22 15:23] donat opened #741 "Verify build configuration API test coverage"

[2018-08-22 15:23] donat opened #742 "Remove project configuration from hierarchical preferences"

[2018-08-22 15:24] donat opened #743 "Move and adjust run configuration interface"

[2018-08-22 15:25] donat opened #744 "Move GradleDistribution to public API"

[2018-08-22 15:26] donat commented on #739
Superseded by #739

[2018-08-22 15:26] #739 closed

[2018-08-22 15:28] donat commented on #741
Superseded by #740

[2018-08-22 15:28] #741 closed

[2018-08-22 15:30] donat opened #745 "Merge run configuration interface with runconfigurationattributes"

[2018-08-23 20:27] grishick opened #748 "buildship ignores SourceFolder added to classpath entries"
I have the following code in build.gradle in one of the subprojects in a multi-project setup:

`eclipse {
    project {
        linkedResource name:'generated', type:'2',location:"${projectDir}/target/generated-sources/protobuf/java".toString()
    }

    classpath {
      file {
        whenMerged {
           entries += new SourceFolder('generated', 'bin/default')
        }
      }
    }
}`

whe

[2018-08-27 12:55] #733 closed

[2018-08-27 13:06] #718 closed

[2018-08-27 13:17] mkq commented on #344
@spoenemann Our workaround is this:
[code]
`FILE_ENCODING` is a property that we set in `gradle.properties` in order to set `compileJava.options.encoding = project.FILE_ENCODING` etc.

Unfortunately, the setting is not in effect by only a Buildship project import. It seems you need to also run the gradle eclipse task and then refresh the project in Eclipse.

[2018-08-27 13:37] donat opened #750 "Add API to synchronise existing workspace project"

[2018-08-27 13:37] donat opened #751 "Add initial API to import new project into the workspace"

[2018-08-27 13:39] donat commented on #750
#749 implements

[2018-08-27 15:43] UdoW commented on #285
While testing a self-built "buildship 3.x" version with an upgraded Guava version of 21.0.0 I got the error message from the validator of the Eclipse Runtime configuration dialog that these dependencies use old Guava versions, too:

- com.gradleware.tooling.client
- com.gradleware.tooling.model
- com.gradleware.tooling.utils

These have a version constraint on Guava like this: [15.0.0,16.0.0)

[2018-08-28 05:49] UdoW commented on #285
For my proof-of-concept I also patched the above 3 bundles to use Guava 21.0.0 and Java 8.
I got it running:
![image](https://user-images.githubusercontent.com/12225215/44703171-e9417e80-aa96-11e8-9147-8bb24c906a54.png)

[2018-08-28 07:13] donat commented on #285
The `com.gradleware.*` plugins have been removed from Buildship 3.0. You may need to uninstall Buildship 2.x before you can install Buildship 3.0.

We have recently moved Buildship to Java 8, so there are no more blockers for the Guava 15 -> 21 update. In fact, I've already done it (https://github.com/eclipse/buildship/commit/17ade2cfe9731e27ade0fdedd8575c41293a59b4), and the [latest snapshot upda

[2018-08-28 07:13] #285 closed

[2018-08-28 07:21] Camork opened #752 "Support debug Gradle test"
We can only lanuch a gradle tester in 'run' mode now, is there any plan to support debug it? Also there should be able to set the run configuration to customize the jvm args.

[2018-08-28 08:15] donat commented on #752
Yes, we have the intention to support Gradle invocations in debug mode. To give you a short overview, the plan is to first finish 3.0 with the new stable APIs, then implement task execution upon synchronization, and then comes the debug support. Prioritization might change over time, but the main indicator we use what should come next is the number of 👍 on the issues.

FYI, you can already set arg

[2018-08-28 08:15] donat commented on #752
Duplicate of https://github.com/eclipse/buildship/issues/249.

[2018-08-28 08:15] #752 closed

[2018-08-28 10:20] CrushaKRool commented on #398
Hopefully I am not missing something that's already been considered, but I still noticed the issue in Buildship 2.2.2 (snapshot). Not only when listing resources but also with other things like
- multiple launch configuration entries if the .launch files are in subprojects
- duplicate search results for resources in subprojects, as also described in this post: https://discuss.gradle.org/t/eclipse-

[2018-08-28 14:00] donat opened #753 "Verify test coverage for synchronization API"

[2018-08-28 14:09] UdoW opened #755 "Could not run build action using Gradle distribution 'https://services.gradle.org/distributions/gradle-4.9-bin.zip'."
I got this exception when I want to open a Gradle project with Buildship 3.0.0-SNAPSHOT:

I am behind a proxy under Windows 10. The Eclipse installation path has no spaces nor the project path.

eclipse.buildId=unknown
java.version=1.8.0_161
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=de_DE
Framework arguments:  -eclipse.keyring .keyring -pluginCustomiz

[2018-08-29 06:32] UdoW commented on #755
I close this issue because it has the same preconditions as issue #4762.

[2018-08-29 07:49] donat commented on #755
Thanks for linking the Gradle issue, now I understand what's going on. I've assigned myself to that ticket.

Since the problem is in the Tooling API, I'm closing this issue.

[2018-08-29 07:49] #755 closed

[2018-08-29 07:50] donat commented on #755
Duplicate of gradle/gradle#4762.

[2018-08-29 09:22] CrushaKRool opened #756 "Automatically add resource filters for subprojects"
Assume we have a multi-project structure like this, where each entry is a Gradle project in the same workspace:

[code]

Without resource filters, any file search or "Open Resource" dialog that finds matches in a file of `serverB` will also show duplicate search results for `server/serverB` and `root/server/serverB`.

The same is true for launch configurations: a launch configuration that is store

[2018-08-29 14:59] mickaelistria commented on #756
The Open Resource dialog has an option "Filter Duplicated Resources" that can be used to show only the ones from the nested projects.
The issue you're mentioning is not much specific to Gradle, and resource filters are a possible implementation, but they should be reported to Platform project who may accept some filtering features like it's done in the Open Resource dialog.
One issue with Resource

[2018-08-29 15:03] mickaelistria commented on #751
There is now this API which BuildShip could contribute to: https://wiki.eclipse.org/E4/UI/Smart_Import .
It's the one used by File > Import Projects from Filesystem... to detect the possible import scenario for a given folder. Basically BuildShip could jump in whenever there is a build.gradle and suggest import of the modules that have a build.gradle and even run the typical operations to compute

[2018-08-29 16:57] robross0606 commented on #710
@donat I'm facing a similar problem and trying to work around the issue.  Your suggestion to @joemarner a couple posts back focuses on `intTest` but I believe the same problem happens for regular `test` sources in the standard `src\test\java\` directory of project **a**.  What is the suggested workaround for situations where you are not declaring a custom source set and are using standard configur

[2018-08-29 19:02] kohnvize opened #760 "‘Refresh Gradle Project’ deletes all manually added module properties in Eclipse"
Both on Eclipse Oxygen and Photon, with Gradle 4.7 and 4.9, and with Buildship 2.2.1 and 3.x beta, using Java 10.0.2, the same behavior is present: all the added exports and explicitly included modules our developers manually add to the ‘Is modular’ node of the ‘JRE System Library’ tree root of the Java Build Path dialog’s ‘Libraries’ tab are all deleted when ‘Refresh Gradle Project’ is called via

[2018-08-30 11:03] CrushaKRool commented on #756
That probably depends on whether this is really just a UI problem. If, for example, the "search in files" functionality would actually search three times through each file as a result of not excluding the resources, then it would actually seem favorable to get rid of them in the logic tree and not just in the UI results.

In this case, it's simply something we had in the old plugin and were now mi

[2018-08-30 12:58] donat commented on #751
@mickaelistria Thanks for notification. Frankly, I didn't think about smart import when I sketched the API outline. Nonetheless, I've read through [the related discussion](https://bugs.eclipse.org/bugs/show_bug.cgi?id=469636). It seems to me that the original design problems @oehme mentioned on that thread are still valid. The new synchronization APIs don't actually do more than what we had alread

[2018-08-30 13:07] mickaelistria commented on #751
To be honest, I was never convinced by @oehme or whoever that it was fully impossible. The Smart Import API allows to let Gradle compute the actual modules to import, even if they don't have a build.gradle file directly.
And even if some important limitations are found, it'd still be highly profitable to at least implement one basic approach (looking only at build.gradle files) and then upon compl

[2018-08-30 13:46] donat commented on #751
I agree, it would be nice if we could enable the importer for the basic Gradle use-cases.

How can we execute something at the end of the project configuration phase, though? Judging from the API there's no ordering between the configurators. What happens when there are multiple configurators trying to open import dialogs?

[2018-08-30 14:03] mickaelistria commented on #751
There is no API that does that, but IIRC, you can create a Job that first waits for `Job.join(SmartImportJob.class)` to wait for completion of the import job and then run whatever you want.

There is one, but the API doesn't show it, so it's indeed better to not rely on it at the moment.

At the moment, only the Maven configurator would show a dialog in case of missing lifecycle listeners. I guess

[2018-08-30 14:16] donat commented on #751
Waiting for the `Job.join(SmartImportJob.class)` could be a start, thanks for the tip.

[2018-08-30 14:17] donat commented on #356
A few tips on how to implement smart import support is provided by @mickaelistria at #751.

[2018-08-30 15:18] donat commented on #728
I can reproduce the problem. When the selection is not already on the project already then the context menu action is disabled.

[2018-08-30 16:34] donat commented on #728
It seems it is problem in the Eclipse platform. I prepared a sample workspace with one Gradle projects in it. Then, I restarted Eclipse and right clicked on the project. There I saw that not just the refresh action is disabled but also the  `Compare with -> API baseline` missing:

<img width="579" alt="screen shot 2018-08-30 at 18 26 07" src="https://user-images.githubusercontent.com/419883/448655

[2018-09-01 13:59] SommerEngineering opened #762 "Buildship does not work with JDK11"
I tested JDK 11 because the release is imminent. Gradle works just fine. When I open the "Gradle Task" view in Eclipse, I get the following error message with Eclipse Photon 4.8.0 and Buildship: Eclipse Plug-ins for Gradle	2.2.1.v20180125-1441:

[code]

[2018-09-03 09:26] oehme commented on #762
This was fixed in later Tooling API versions. I wonder if we should do a quick 2.2.2 just bumping the TAPI. What do you think @donat?

[2018-09-03 11:47] donat commented on #762
We can do that. I'll open a CQ for the latest TAPI version.

[2018-09-04 07:48] Frontrider commented on #266
It's a requirement for us right now.

[2018-09-10 09:05] schuettec commented on #655
...okay but this issue has been closed? Where to track progress of this issue then?
I'm still having problems with Gradle not supporting Maven Local and other repositories.

[2018-09-10 11:57] chhex commented on #655
Yep, whould be great to habe a issue number to track this problem: getting the newest snapshot version of all repositories, not just the first found.

[2018-09-10 13:02] oehme commented on #655
https://github.com/gradle/gradle/issues/1737

[2018-09-13 08:10] ams-tschoening commented on #511
I have a composite build always and the same problem with multiple included builds showing in "Gradle Task". All my projects live under the same workspace root in Eclipse and none of these projects use any subprojects and only one `build.gradle` and `settings.gradle` located in the project root.

[code]

![clipboard01](https://user-images.githubusercontent.com/6223655/45473923-a9d28d80-b738-11e8-8

[2018-09-13 08:45] oehme commented on #511
There shouldn't be 4 times the same project in the tasks view. Please share a reproducible sample.

[2018-09-13 09:45] ams-tschoening commented on #511
Find my reduced examples at the bottom, it seems things depend on project-import-order in Eclipse a bit and it doesn't seem to make a difference if I delete the Eclipse-related files or not.

![clipboard01](https://user-images.githubusercontent.com/6223655/45479882-f40f3b00-b747-11e8-9f65-af00b803b5b3.png)
![clipboard02](https://user-images.githubusercontent.com/6223655/45479883-f4a7d180-b747-11e8

[2018-09-13 13:45] ams-tschoening commented on #511
Couldn't Buildship provide some GUI or context menu which would let me tell it to simply do what I would otherwise need to do on the shell manually?

It even already knows all the available tasks and could put an entry into the already available context menu for the disabled tasks. It could even simply use the shell if it's not possible otherwise, users would still benefit because they wouldn't ne

[2018-09-13 14:13] dovogt commented on #575
I just tested it again in version 2.2.2. I have a Gradle project which does not use a gradle Eclipse plugin.
After a Gradle Refresh, the manually added entry is deleted.

before:
![image](https://user-images.githubusercontent.com/25249296/45493389-e6b97700-b76e-11e8-8b07-455adca10985.png)

after:
![image](https://user-images.githubusercontent.com/25249296/45493309-be317d00-b76e-11e8-9713-fc0bdb4ed

[2018-09-13 14:15] oehme commented on #575
Are you using it or not?

[2018-09-13 14:46] dovogt commented on #575
Hello,

I tried both variants.

1. without gradle eclipse plugin ---> manually added entry will be removed

2. with gradle eclipse plugin -> entry not included in the .classpath

![image](https://user-images.githubusercontent.com/25249296/45495818-5847f400-b774-11e8-8029-1788b0ae4aaf.png)

[2018-09-13 14:51] oehme commented on #575
And I assume "lib/properties" is a linked folder?  We don't support those as classpath entries at the moment, which we should fix.

[2018-09-14 07:24] shimikano opened #764 "Test classes/resources should come before the main classes/resouces in the runtime classpath of a test"
The runtime classpath of a unit test of a gradle project in Eclipse usually lists the main classes and resources (`bin/main`) before the test classes and resouces (`bin/test`). This is in contrast to plain gradle and maven on the command line as well as m2e, where the test classes/resources come before the main classes/resources.

A use case where this is relevant is to have named classpath resour

[2018-09-14 07:37] dovogt commented on #575
Let's take the first case. Why does Buildship change the classpath, even though no gradle Eclipse plugin is enabled. For a year ago i understood that this is a mistake.

Is there a possibility that I can change them? If so, can you tell me where to find the "Gradle Refresh Project" feature?

[2018-09-14 10:15] oehme commented on #575
If it has the Gradle nature, it's a Gradle project and all classpath information must come from Gradle.

[2018-09-14 12:30] dovogt commented on #575
Do you have any idea how to solve my problem? A workaround?

[2018-09-14 13:54] oehme commented on #575
It should work, since [this commit](https://github.com/eclipse/buildship/commit/71fc456944676eee09b6e08c1191b6cff5785036) 2 years ago, which introduced support for classpath entries that are linked resources. So the first step would be finding out why this is not working for your case. Have a look at the corresponding [integration test](https://github.com/eclipse/buildship/commit/71fc456944676eee0

[2018-09-17 13:06] donat commented on #732
Actually, we don't need this. The original idea exposes more of the synchronization API which needed a broader set of configuration interfaces. The latest version contains only a simplified version where it's no longer needed.

[2018-09-17 13:06] #732 closed

[2018-09-17 13:07] donat commented on #737
`GradleCore` is part of the 3.x branch now.

[2018-09-17 13:07] #737 closed

[2018-09-17 13:08] donat commented on #738
We no longer need this.

[2018-09-17 13:08] #738 closed

[2018-09-17 13:08] donat commented on #740
We no longer need this.

[2018-09-17 13:08] #740 closed

[2018-09-17 13:08] donat commented on #742
We no longer need this.

[2018-09-17 13:08] #742 closed

[2018-09-17 13:09] donat commented on #743
We no longer need this.

[2018-09-17 13:09] #743 closed

[2018-09-17 13:09] donat commented on #745
We no longer need this.

[2018-09-17 13:09] #745 closed

[2018-09-17 13:11] donat commented on #744
Finally implemented in https://github.com/eclipse/buildship/pull/761.

[2018-09-17 13:11] #744 closed

[2018-09-17 14:40] dovogt commented on #575
It does not have to be a linked-resource because the directory is in the project itself. If I implement it, I get the same problem.

How would you implement that? I have a directory, lib / properties. The directory contains files that are needed during execution. These are needed when executing the programs in the gradle and in the Eclipse (runconfigurations).

[2018-09-17 15:28] oehme commented on #575
Directories are supported of course. I showed you linked resources because that's what you complained about in your original post.

[2018-09-18 15:11] oehme commented on #575
Please add a failing test case that shows that the libraries aren't on the classpath. I.e. some simple usage of ClassLoader.getResource

[2018-09-18 16:35] #751 closed

[2018-09-18 16:36] #750 closed

[2018-09-19 15:12] oehme commented on #575
Your build file doesn't add the folder as a library so obviously it won't work.

[2018-09-20 15:02] oehme commented on #575
The [snippet](https://user-images.githubusercontent.com/25249296/45495818-5847f400-b774-11e8-8029-1788b0ae4aaf.png) you posted earlier will do that.

Although I don't understand why you only want the properties in Eclipse. Don't you need them when running tests from Gradle too? In that case this would be the appropriate model:

[code]

[2018-09-21 08:39] vogella commented on #712
@oehme I could contribute the code mining without the specific Gradle logic. Would that be helpful? I guess it will be easy for you to add the buildship specific logic and it (should be) easy for me to add the code mining header annotation.

[2018-09-21 13:11] dovogt commented on #575
Hello Stefan,
first thank you for your patience. I entered it as described. The Gradle test fails and the launch via Eclipse also fails.

I also needed the lib/properties directory during the JUnit tests in the classpath. My problem is still that with every gradle refresh my .classpath file is changed and the lib/properties directory is removed.

I adapted the example.

Buildship: Eclipse Plug-ins

[2018-09-21 16:16] donat opened #768 "Update Tooling API to latest 5.0 snapshot"

[2018-09-21 16:18] donat opened #769 "Define GradleBuild.withConnection interface with basic functionality"

[2018-09-21 16:20] donat opened #770 "Calling GradleBuild.withConnection should integrate with IDE configuration and outputs"

[2018-09-21 16:22] donat opened #771 "Add test coverage for GradleBuild.withConnection"

[2018-09-21 16:23] donat opened #772 "Document how to to load custom models via the Tooling API"

[2018-09-22 07:31] oehme commented on #575
You used `fileTree`, which is not what I showed you above. You need to use `files()`.

[2018-09-22 10:32] a1dutch opened #773 "Buildship fails to import project as it expects working directory to be project root"
Hi

I'm unable to import the [springfox](https://github.com/springfox/springfox) project into eclipse photon with buildship  2.2.1.v20180125-1441, this project applies a plugin from the buildSrc that is using git to parse a version number and expects the working directory to be the project directory.

The project builds fine from the terminal and imports into intellij correctly.

is it possible th

[2018-09-24 13:19] #753 closed

[2018-09-24 13:21] donat opened #774 "Expose `GradleBuild.withConnection` method"

[2018-09-25 08:55] donat commented on #676
The project synchronization API is now part of the latest [3.0 snapshots](https://github.com/eclipse/buildship/blob/master/docs/user/Installation.md#update-sites-for-buildship-3x).

[2018-09-25 08:58] #256 closed

[2018-09-25 09:13] #774 closed

[2018-09-25 16:48] kdvolder commented on #676
@donat Thanks for the headsup, I added a ticket to our backlog for trying out / adopting the new api.
What's the timeline for releasing BuildShip 3.0, and what's the timeline for dropping the old internal api?

Just so we can have a rough idea on how to prioritize this into our backlog. Thanks for keeping us in the loop, much appreciated.

[2018-09-26 13:46] gocursor commented on #762
Just tested with latest Eclipse 4.9 (SimRel 2018‑09) and I get the same error message. I can not update Buildship from 2.2.1 to 2.2.2 although there is a webpage for 2.2.2 (http://projects.eclipse.org/projects/tools.buildship/releases/2.2.2).

[2018-09-26 17:03] kdvolder commented on #676
Our requirements on the project configurator are probably pretty basic and since we are actually moving away from having a dedicated 'spring nature' this might be even further reduced (really all our configurator did was adding sping nature to projects that look like spring projects). I think @fbricon might have more use cases and be a better person to include in the discussion about project confi

[2018-09-26 19:04] kdvolder commented on #676
@donat Decided to do a quick pass at updating our connector. It works :-)

I did hit a small snag which I was able to relatively easily work around. But I decided to tell you about it, just in case you might want to do something with that feedback.

The problem: It doesn't seem possible right now for the importing operation to find out what project(s) were imported after import is done.

Now... I'

[2018-09-27 15:17] SchwingSK commented on #700
Just tested buildship 3.0.0v20180925-2319-s and the bug is still there, FYI.

[2018-09-28 07:40] donat commented on #676
@kdvolder Thanks for all the feedback. We didn't expose the set of changed projects via the synchronization API because it will be available via the project configurator API. That will be implemented very soon and will be part of Buildship 3.0. I have to finish #726, and I'll immediately get started.

[2018-09-28 12:59] abhishek2bommakanti commented on #762
I'm facing the same issue with STS4. There doesn't seem to be a way to upgrade Buildship to 2.2.2 yet.

[2018-09-28 13:01] donat commented on #762
2.2.2 is not published yet. We are waiting for the Eclipse IP team to give us clearance on the new Tooling API version. Once we get a green light, we'll proceed with the release.

[2018-09-28 13:02] abhishek2bommakanti commented on #762
@donat Thanks for the update.

[2018-10-02 08:34] donat commented on #762
The IP check has been done. We'll do a release tomorrow. @abhishek2bommakanti can you please verify that the latest 2.2.2 works for you?

[2018-10-02 12:36] abhishek2bommakanti commented on #762
@donat That seemed to work great! Both creation of a new starter project as well as importing an existing Gradle project worked. Those were the two use cases that were failing for me.

Thanks for all your help! I will let you know if I face any more issues.

[2018-10-02 12:37] donat commented on #762
Thanks for checking! We'll proceed with the release tomorrow, as scheduled.

[2018-10-02 14:29] nlisker opened #778 "Refreshing Gradle Project causes breaks JRE configuration"
Creating a new Gradle project or using Refresh Gradle Project causes the JRE system library configuration to break. The error message displayed in the `Problems` view  is:

The `Enable project specific settings` checkbox under `Java Compiler` also checks itself when this happens.

It does not matter what the previous JRE setting was (I tested 10 and 11 and it reverted to the broken 11 both times,

[2018-10-02 14:36] oehme commented on #778
The setting is derived from your project's target compatibility, so if you have a Java 11 project, it'll use a Java 11 execution environment. I guess you haven't specified your target compatiblity, so it just uses whatever VM Gradle runs on as the default.

[2018-10-02 14:36] #778 closed

[2018-10-02 14:38] nlisker commented on #778
`build.gradle` contains the lines

[code]

[2018-10-02 15:03] oehme commented on #778
So why do you expect anything else than a Java 11 execution environment?

[2018-10-02 15:09] nlisker commented on #778
I'm expecting to Java 11, but I'm not getting it. I'm getting an error "Unbound classpath container", and as you can see in the screenshot, no JRE selected. I am expecting that if 11 is selected, then that it will continue to be selected after a refresh, but it's not.

[2018-10-02 15:12] oehme commented on #778
Can you please have a look at your "Java Execution Environments" tab in the Eclipse preferences? Maybe they changed the naming pattern of the environment for Java 11 (they changed them a few times before)

[2018-10-02 16:20] oehme commented on #778
You're not supposed to specify one directly, Gradle specifies the execution environment and Eclipse maps that to an concrete JRE. What entries do you have under "Execution Environments"? Maybe your Eclipse version simply doesn't support Java 11 yet.

[2018-10-02 16:42] nlisker commented on #778
This is for Eclipse Photon (4.8) Build id: I20180611-0500:

![image](https://user-images.githubusercontent.com/37422899/46362901-27275900-c67a-11e8-94c6-d2b5b16afb11.png)

This is for Eclipse 2018-09 (4.9) Build id: I20180906-0745:

![image](https://user-images.githubusercontent.com/37422899/46362968-563dca80-c67a-11e8-97df-fd67a0bb578c.png)

Eclipse states they have added Execution Environment fo

[2018-10-02 20:53] oehme commented on #778
Yep looks like Eclipse doesn't support 11 yet. You can't have source>target, so you'll have to stick with 10 until Eclipse is ready.

[2018-10-03 08:05] nlisker commented on #778
Thanks, the patch for Java 11 for Eclipse added Execution Environment JavaSE-11 and the problem is solved.

[2018-10-04 23:19] bmaehr opened #779 "Doesn't work with plugin com.android.application"
When using
[code]
eclipse is not able to include dependencies or build the source code.

The app project was not set up as gradle project by the gradle project import. After fixing this manually still the buildpath is not correctly set up.
If using plugin 'com.android.application' instead of 'java-library' the build path of the eclipse project looses all dependencies.

buildTypes and productFlavor

[2018-10-06 18:45] CrushaKRool opened #780 "External dependency with 'test' classifier has no source code attached in Eclipse"
If a Gradle project references the test artifacts of a dependency (for example via `compile group: 'com.sample', name: 'project2', version: '0.0.1-SNAPSHOT', classifier: 'test'`), then Eclipse will not attach the source code to that dependency, although the corresponding `project2-0.0.1-SNAPSHOT-test-sources.jar` exists.

Attached is a [minimal project configuration](https://github.com/eclipse/bui

[2018-10-08 06:03] Horcrux7 opened #781 "Gradle dependency not added to the Eclipse launch classpath"
Since the update of buildship 2.2.2 on some launch configuration the dependencies of Gradle is not added to the classpath. The dependencies are added to the "Project and External Dependencies" that the project compile correctly.

The symptom is that the "-classpath" parameter of the starting Java VM contains only project directories and direct added jar files. All jar files into the Gradle cache a

[2018-10-08 08:14] donat commented on #781
We added only one change to the runtime classpath computation: https://github.com/eclipse/buildship/pull/692. Can you please check if it's relevant?
Otherwise, I'd need a sample project to investigate your problem further.

[2018-10-08 09:41] donat commented on #771
I've checked and we already have the necessary test coverage.

[2018-10-08 09:41] #771 closed

[2018-10-08 10:09] rajasekardondapathi commented on #755
org.gradle.tooling.BuildException: Could not run build action using Gradle distribution 'https://services.gradle.org/distributions/gradle-4.3-bin.zip'.
	at org.gradle.tooling.internal.consumer.ExceptionTransformer.transform(ExceptionTransformer.java:51)
	at org.gradle.tooling.internal.consumer.ExceptionTransformer.transform(ExceptionTransformer.java:29)
	at org.gradle.tooling.internal.consumer.Res

[2018-10-08 13:03] #770 closed

[2018-10-08 15:09] donat opened #783 "Add project configurator extension point"

[2018-10-08 15:09] donat opened #784 "Define ordering for project configurtors"

[2018-10-08 15:09] donat opened #785 "Extract core project configurator"

[2018-10-08 15:09] donat opened #786 "Extract Java project configurator"

[2018-10-08 20:27] Horcrux7 commented on #781
After investigating many hours to make my workspace working again it sounds that not the buildship update is the cause. I have uninstall the buildship plugin 2.2.2 and have install 2.2.1 and then 2.2.0. It has not solve the problem. But I am not sure if such uninstall is enough.

Then I have reset the workspace, delete .metadata and all .gradle directories. It has not solve the problem.

Then I ha

[2018-10-09 07:50] #772 closed

[2018-10-09 07:55] donat commented on #676
@UdoW https://github.com/eclipse/buildship/issues/726 is almost ready. The only thing missing is to update the Gradle (Tooling API) dependency 5.0, which is supposed to be released at the end of October. You can still try the new API by using the latest 3.0 snapshot. Your feedback is much appreciated.

[2018-10-09 12:18] mortalis13 commented on #779
Use this Gradle plugin: https://github.com/greensopinion/gradle-android-eclipse
to generate Eclipse project classpath.
It will help to resolve compile errors and auto imports.

Then you just import your project as Eclipse project, create new Run configuration as Gradle Project with your task (`assembleDebug`) and it builds android project without ADT, only with Gradle.

[2018-10-09 12:19] mortalis13 commented on #680
Check my comment on similar issue: https://github.com/eclipse/buildship/issues/779#issuecomment-428170018.

[2018-10-09 23:19] bmaehr commented on #680
@mortalis13 Should the commands be added to the root or the app build.gradle?

[2018-10-10 03:05] DonnieWest commented on #680
Ideally, this sort of thing would just be built into it like we do on the Kotlin language server or javacomplete2 - no build.gradle editting needed

[2018-10-10 06:33] mimmoz81 commented on #683
this was duplicate of #532. You can close that too.

[2018-10-10 06:34] mimmoz81 commented on #532
Closing as resolved, by #683

[2018-10-10 06:34] #532 closed

[2018-10-10 10:41] mortalis13 commented on #680
@bmaehr You mean commands for the plugin?
It has a [SampleApplication](https://github.com/greensopinion/gradle-android-eclipse/tree/master/src/test/SampleApplication) with plugin `apply`s in the the `app` module.

I guess it was initially created for Android Studio projects. So it converts each module (like `app`) into Eclipse projects. Though I just used it with existing Eclipse Android projects

[2018-10-17 11:37] #783 closed

[2018-10-17 12:03] vogella commented on #712
@donat WDYT?

[2018-10-19 07:35] industrious opened #788 "Exception during multi-project "Refresh Gradle Project'"
My project is migrating to OpenJDK 11 and I've installed the latest Eclipse 4.9. I am getting the following error.

I am using this environment:
Eclipse Java EE IDE for Web Developers.
Version: 2018-09 (4.9.0)
Build id: 20180917-1800

Eclipse Buildship 2.2.2.v20181003-1024

java.version=11
java.version.date=2018-09-25
java.vm.name=OpenJDK 64-Bit Server VM

The exception is the following:

[code]

[2018-10-24 14:08] kai2nenobu commented on #398
I noticed that gradle can add Eclipse resource filters by using [EclipseProject.html#resourceFilter](https://docs.gradle.org/current/javadoc/org/gradle/plugins/ide/eclipse/model/EclipseProject.html#resourceFilter-org.gradle.api.Action-).

To add resource filters for all subprojects, `build.gradle` are like below.
(This code assumes recursive subprojects don't exist. If exist, some more work may be

[2018-10-25 18:07] vogella commented on #712
Today Donat and I implemented this as a prototyp on EclipseCon.

Donát Csikós <notifications@github.com> schrieb am Mi., 17. Okt. 2018,
14:23:

[2018-10-26 05:46] moley commented on #786
Hi donat, so as we talked about in eclipsecon, please keep in mind that when an error (like this wtp thing) comes along, please do not break reading/configuring project, because this leeds to an incomplete project setup, but only add an error marker.
Thanks a lot

[2018-10-28 08:37] b25rb2hkb25kbw opened #790 "JDK compilance is set wrong when I “Refresh Gradle Project”"
In my Gradle project, I set the targetCompatibility and sourceCompatibility to 11 in build.gradle. After “Refresh Gradle Project”, Buldship correctly detect the targetCompatibility and add correct JRE System Library to the classpath. However, it also modifies the project settings. When I open the Project Properties window after refreshing, in “Java Compiler”, I found the "Use compliance from execu

[2018-10-28 13:14] oehme commented on #790
Make sure you have [Java 11 support for Eclipse](https://marketplace.eclipse.org/content/java-11-support-eclipse-2018-09-49) installed.

[2018-10-28 16:42] donat commented on #348
@gte811i Can you be more specific? I had a quick check, and for me, the `Run as Gradle Test` action doesn't appear for non-test classes in Buildship 3.0.

[2018-10-28 17:31] donat commented on #348
@gte811i Can you copy-paste the project's `.classpath` file? Also, which source folder contains the `MainModel` class?

[2018-10-28 17:37] gte811i commented on #348
<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="src" output="bin/test" path="src">
		<attributes>
			<attribute name="gradle_scope" value="test"/>
			<attribute name="gradle_used_by_scope" value="test"/>
		</attributes>
	</classpathentry>
	<classpathentry kind="src" output="bin/test" path="resources">
		<attributes>
			<attribute name="gradle_scope" value="test"/>
			<att

[2018-10-28 17:49] gte811i commented on #348
Fixed it.  In my .gradle file I had a
test {
  java srcDir 'xxxx'
}
It was keying off that srcDir, which included the MainModel.java file. I changed that and it worked.

[2018-10-28 17:50] donat commented on #348
Glad you found the solution. I was going to propose a similar approach.

[2018-10-29 09:41] donat commented on #712
FFR the prototype is pushed to the [`donat/code-mining/prototype`](https://github.com/eclipse/buildship/tree/donat/code-mining/prototype) branch.

[2018-11-02 16:35] ams-tschoening opened #791 "Can composite builds span multiple different Eclipse workspaces?"
I have various libs in use by different applications and am using different workspaces for Eclipse for those libs and the apps. While the apps are checked out per workspace, the libs aren't, but managed in one workspace and then linked at project level to other workspaces.

	Eclipse
		Workspace1
			lib1
			lib2
		Workspace2
			app1
			lib1 (link to Workspace1/lib1)
			lib2 (link to Workspace1/lib2

[2018-11-06 09:04] moley opened #794 "Performance issue when importing multi module project into eclipse"
Hi,

We want to import our gradle multimodule projects via "Import->Existing Gradle Project...".

Having a real world project (which I cannot upload), which needs about 4 minutes to be imported into eclipse, while a complete clean build (gradle clean testClasses) on commandline needs about 1 minute and importing it into idea lasts about 10 seconds, we cannot migrate to use gradle until this bug is

[2018-11-06 10:10] industrious commented on #788
The issue seems to be in Gradle https://github.com/gradle/gradle/issues/7639

[2018-11-06 10:10] #788 closed

[2018-11-06 14:33] moley commented on #794
Outputs from my profiler, hope they help....

<img width="1457" alt="bildschirmfoto 2018-11-06 um 15 31 59" src="https://user-images.githubusercontent.com/3918367/48070953-511fee00-e1d9-11e8-9ca7-e6c4ce3324ed.png">

[2018-11-06 14:40] moley commented on #794
This occurs once the project is imported AND - and that's the bigger pain - everytime the workspace is reopened

[2018-11-08 13:50] moley commented on #794
You're welcome.
Sorry for the dep resolution problem, I have fixed it, you can pull.
If having further problems or a fix which I should test, please call.....

Cheers
Markus

[2018-11-08 19:25] gadamsciv opened #796 "buildship 2.2.2 integration test classpath issue"
There appears to be a regression issue in buildship 2.2.2 regarding integration testing classpath, specifically when using includeBuild in settings.gradle.

To reproduce,
git clone https://github.com/gadamsciv/foo-service.git
and
git clone https://github.com/gadamsciv/foo-model.git
into the same directory. foo-service has a settings.gradle with includeBuild('../foo-model')
with buildship 2.2.1 ins

[2018-11-12 01:54] javabrett commented on #762
I hit this issue with newest Eclipse:

[code]

... which includes:

[code]

I was able to get further (not yet working) by updating via http://download.eclipse.org/buildship/updates/e48/releases/2.x/2.2.2.v20181003-1024
 but wondered:

- Am I inviting trouble by using an e48 update in e49?
- Will this fix be ported to e49 sometime soon - I imagine that might be the pending 3.0.0 release?

[2018-11-12 15:25] josephca opened #797 "com.gradleware.tooling.model plugin is missing from 2018-12 M2 EPP"
Is this an intended removal? it affects update install for the missing dependency.

e.g.
Missing requirement: Maven tools for Java EE headless tests (com.ibm.etools.maven.javaee.core.tests) requires 'osgi.bundle; com.gradleware.tooling.model 0.0.0' but it could not be found
        Cannot satisfy dependency:

[2018-11-12 15:29] donat commented on #797
Yes, we intended to get rid of that library as it became obsolete and it added significant maintenance burden to the project.

[2018-11-13 14:33] donat opened #799 "New import wizard breaks when Gradle 5.0 is selected"
The `init` script in Gradle 5.0 requires interactive input which the wizard does not handle and becomes unresponsive.

[2018-11-13 15:16] donat opened #800 "Inject required Tooling API models to project configurators"
For the details see the conversation at https://github.com/eclipse/buildship/pull/798/files/53e5fb3d8057de60fdb5ca4b0f78dc9d80ffef07#diff-0d4b8cbd00fa450c63b4481e07dd5175

[2018-11-13 20:17] velo commented on #762
I tried `2.2.2.v20181003-1024`, `3.0.x` and `2.2.3.x`

[code]

I have the JDK 8 as default on my IDE, it would be really nice if gradle could pick up that instead of what it's installed on my system

[2018-11-14 02:40] javabrett opened #802 "Allow selection of JDK/version to run Gradle Import"
There's a few issues around where folks struggle with selecting a JDK that both Eclipse itself and buildship are happy with, e.g. #762.  One current limitation seems to be that buildship uses (only) the JDK currently executing Eclipse to run the initial Gradle project introspection and build during import.

This issue suggests that like elsewhere in Eclipse, you should be able to specify the activ

[2018-11-14 08:31] Horcrux7 commented on #781
After investigating more time because the problem occur repeated it look like the cause are the additional attributes "gradle_scope"  and "gradle_used_by_scope".

Because we use src folder for different scopes but Gradle use only the last scope for the .classpath file:

[code]
We solve it with an additional call to entry.getEntryAttributes().clear() in the eclipse merge rule :

[code]

[2018-11-14 10:18] #799 closed

[2018-11-15 20:23] #785 closed

[2018-11-16 05:05] bkeyser opened #803 "Gradle configurations and IDE configuration"
### Expected Behavior

The Eclipse IDE (and IntelliJ IDEA) should be properly configured when using configurations different than main or test.

### Current Behavior

The IDE is not configured to use Gradle configurations.

### Context

Combine several libraries that are generated and configure Eclipse to recognize those libraries.  The example simulates the set of generated and compiled files to

[2018-11-16 08:02] mcb345 opened #804 "WEB-INF is not being added at org.eclipse.wst.server.core nor displayed at eclipse -> import gradle project"
I am trying to start the apps and just realized when I check eclipse server deployment, my gradle project does not include src/main/webapp/ META-INF and WEB-INF but included the rest

![image](https://user-images.githubusercontent.com/9096394/48605795-bda8a300-e9b8-11e8-98cf-344680dfd690.png)

Above is my folder, and below is being deployed at org.eclipse.wst.server.core

![image](https://user-ima

[2018-11-16 13:35] donat commented on #797
FYI We have migrated all useful classes to the `org.eclipse.buildship.core` plugin. Closing this issue now. Feel free to reopen it if we need to do something.

[2018-11-16 13:35] #797 closed

[2018-11-16 13:38] donat commented on #794
Recently I've fixed a performance regression that caused the synchronization to execute multiple times per build. I've tested the latest 3.0 snapshot and importing your sample project seems much better now. Can you please give it a try?

[2018-11-16 15:08] donat commented on #790
Closing for inactivity. @b25rb2hkb25kbw feel free to re-open this issue if necessary.

[2018-11-16 15:08] #790 closed

[2018-11-16 18:53] oehme commented on #803
The `dependent-lib` project depends on the `aggregatedLibs` configuration in the `aggregated-libs` project. This configuration exposes no transitive dependencies. So it is expected that Eclipse can't find those classes. Eclipse doesn't use the fat jar, it uses a project dependency.

If you want Eclipse to work, you'll have to let `dependent-lib` depend on the `libCollection` configuration instead.

[2018-11-16 18:53] #803 closed

[2018-11-16 20:38] bkeyser commented on #803
Thanks @oehme for the explanation and I hope you don't mind if I ask another question to help clarify my understanding.  I thought that specifying the dependency of `dependent-lib` on `aggregatedLibs` would associate the result jar of the `aggregated-libs` project be a dependency of `dependent-lib` (as the jar task depends upon the `aggregatedLibs` configuration).  Your explanation suggests that I

[2018-11-17 01:58] oehme commented on #803
Yes, that's exactly why 👍

[2018-11-20 07:40] moley commented on #794
Hi donat,
thank you, I will surely take a look. Currently I am ill, so I think next week I could manage. I will give feedback asap.

[2018-11-20 08:22] donat commented on #794
No worries and get well soon!

[2018-11-20 16:20] maciejmiklas opened #808 "Support Test Jar for Composite Builds (Eclipse 2018-09)"
Composite Build does not suport transitive test dependencies, like this one:
`testCompile ('org.myapp:module-c:1.0.0-SNAPSHOT:tests') {changing = true }`
Class Path for Unit Test in Eclipse does not contains test jars at all, this is resulting in such exception:
[code]
Not only classes from imported `module-c` are missing, but also other classes from test configuration:
[code]

I've created a simp

[2018-11-21 09:59] #582 closed

[2018-11-21 10:32] fr1zle opened #809 "Buildship should resolve local project dependencies"
Assuming you have projectA and projectB, both are build independently and are hosted in their on git repository.

A bug in projectB now also creates a bug in projectA. So I clone both projects into my eclipse workspace and import them as gradle projects.

projectA has a dependency on projectB with version 1.0.0-SNAPSHOT. The projectB in cloned the eclipse workspace has the version 1.0.0-SNAPSHOT a

[2018-11-21 10:53] fr1zle commented on #809
Okay, when projectA and projectB are both gradle projects, using Composite Builds seems to do the trick.

Is there anything i can do if projectA is a maven/m2e project?

[2018-11-22 10:41] donat commented on #809
For testing purposes, you can hack the Gradle project classpath.  You can use the `eclipse.classpath.file.whenMerged {}` block to modify that. You'll find examples how to do that [here](https://discuss.gradle.org/t/buildship-1-0-18-is-now-available).

Please note, that this is only a workaround in the IDE and it doesn't have an effect on the actual build.

[2018-11-22 10:48] oehme commented on #809
Use a [composite build](https://docs.gradle.org/current/userguide/composite_builds.html).

[2018-11-23 05:49] UdoW commented on #676
@donat , where can I find the SNAPSHOT repository?

[2018-11-23 07:09] donat commented on #676
@UdoW Here's the update site for Eclipse 2018-09: http://download.eclipse.org/buildship/updates/e49/snapshots/3.x

[2018-11-23 07:49] UdoW commented on #676
Ok, thanks. I will try to integrate the new feature into my plug-in.

[2018-11-23 07:49] donat commented on #676
Cool! Let me know if something is not clear with the new APIs.

[2018-11-23 08:09] UdoW commented on #676
I don't know how to use the API: I found this

build.withConnection(conn -> conn.newBuild().forTasks("init").run());

on this page https://github.com/eclipse/buildship/issues/726 but it does not work with the snapshot from today.

[2018-11-23 08:32] donat commented on #676
@UdoW You can configure the `ModelBuilder` object returned by `newBuild()` to use a custom output stream with the `setStandardOutput()`. By default it is wired to the Gradle UI console  but you can change it to a `ByteArrayOutputStream`.

[2018-11-23 09:19] UdoW commented on #676
When I call the above API from my plug-in I get this exception:

`Caused by: java.lang.IllegalStateException: Cannot use Gradle distribution 'https://services.gradle.org/distributions/gradle-4.5-bin.zip' as it has been stopped.
	at org.gradle.internal.concurrent.ServiceLifecycle.use(ServiceLifecycle.java:56)
	at org.gradle.internal.concurrent.ServiceLifecycle.use(ServiceLifecycle.java:46)
	at org.

[2018-11-23 13:21] ssindelar commented on #790
I have the same behavior. Java 11 Patch is installed.

Setting sourceCompatibility to 10 works fine. Setting it to 11 results in 1.8 compliance.

[2018-11-23 14:09] UdoW commented on #676
I found this bug report where my exception is explained. But the bug was just closed without a comment how it was fixed: https://bugs.eclipse.org/bugs/show_bug.cgi?id=492118

[2018-11-23 14:33] UdoW commented on #676
I try to get a property name from the properties task of my gradle project. I do this with-in an UI handler (a button in the toolbar). Maybe if I call your API from UI produces the problem?

How do you test the API? In which test source can I see how you use it?

[2018-11-23 14:35] donat commented on #676
Here's the test that runs a Gradle task: https://github.com/eclipse/buildship/blob/release-3.0/org.eclipse.buildship.core.test/src/main/groovy/org/eclipse/buildship/core/GradleBuildConnectionTest.groovy#L69

[2018-11-23 14:40] UdoW commented on #676
Should I call the gradle tooling with-in a Display.syncExec() ?

[2018-11-23 15:04] donat commented on #676
Well, technically you should be able to call the APIs from any threads you like. On the other hand, you should not execute any long-running operations on the UI thread, said case included.

[2018-11-26 08:54] UdoW commented on #676
I created a test plug-in. See attached ZIP file. Please unpack and set the target file. Then run the plug-in in the runtime Eclipse.

You will see a text button in the toolbar with the label "Run task". It tries to call the properties task.

Then create with the runtime Eclipse a new Gradle project. Then select the project name in the Package Explorer and press the "Run task" toolbar button.

Then

[2018-11-26 08:54] UdoW commented on #676
[de.bs.test.zip](https://github.com/eclipse/buildship/files/2614689/de.bs.test.zip)

[2018-11-26 08:55] donat commented on #676
Awesome, I'll check the sample project today.

[2018-11-27 10:12] UdoW commented on #676
You found the problem? Is it in my code?

[2018-11-27 10:20] stefanleh commented on #265
Same here. We got a very prehistoric way of copying libs from a central webshare to the lib folder of the project for updating dependencies when in a sealed environment (no Nexus in network / no Internet at all). This should be triggered via Gradle task when "Gradle refresh project" is run.

[2018-11-27 12:06] UdoW commented on #676
@donat , thank you for fixing my usage problem and yes, next time I'll start a new ticket.

[2018-11-27 13:22] donat commented on #676
I'm glad I could help :)

[2018-11-27 14:40] donat opened #811 "Output location update should not try to use nested locations"
[Bugzilla report](https://bugs.eclipse.org/bugs/show_bug.cgi?id=541571):

[2018-11-27 14:41] donat commented on #811
The output and the source folder updater should not try to use nested output folders. If the update leads to this situation then the updaters should use a temporary folder. If the configuration is invalid, the synchronization should throw an `UnsupportedConfigurationException`.

[2018-11-27 14:42] donat commented on #811
The problem has a workaround: define a separate output folder manually, then synchronize the workspace with the Gradle build.

[2018-11-27 16:01] BoykoAlex commented on #811
@donat can you propose a way to fix the the gradle build please? :-)

[2018-11-27 16:14] donat commented on #811
The weird thing is that the exception happened only the first time. Afterward, I was able to import the projects no matter what Gradle versions I chose or how I cleaned up the project. I'll get back to this later.

[2018-11-28 16:22] dukeyin commented on #762
I have my Windows paths set to JDK 11 and my project's gradle wrapper upgraded from 4.6 to 5.0 as described in https://docs.gradle.org/current/userguide/gradle_wrapper.html#sec:upgrading_wrapper , but when I try to run a gradle clean in Eclipse, I get:

I searched my Eclipse project and I can't find the string "4.6" anywhere, so I'm not sure where Buildship is trying to use Gradle 4.6 instead of G

[2018-11-28 16:44] wilkinsona opened #812 "Eclipse and the command line handle src/main/resources differently"
When Buildship is used to import a Java project into Eclipse, everything in `src/main/resources` is treated in much the same way as if it was in `src/main/java`. This is problematic as it can lead to differences in behaviour between Eclipse and the command line.

[Here](https://github.com/eclipse/buildship/files/2625758/buildship-resources-bug.zip) is a small sample project that illustrates the di

[2018-11-28 22:04] fwgreen commented on #222
It seems the Kotlin team is looking into this:
https://youtrack.jetbrains.com/issue/KE-273

[2018-11-29 02:10] BoykoAlex commented on #811
@donat You mentioned there is a workaround. How can I apply the workaround? I suppose the workaround can be done in `build.gradle` files somewhere?

[2018-11-29 10:48] moley commented on #794
Hi Donat,
I retested performance with building a snapshot from branch "release-3.0". I think performance improved a little bit, so it was a step in the right direction, but still both import of projects and rebuilding taskmodel after restarting the ide are very slow compared to idea. So would be nice if you could check if with my first insights you can improve it a little bit more. Thanks a lot

[2018-11-29 13:21] johnjaylward commented on #658
From what I understand the EclipsePlugin under gradle is to handle things that are "one-off" (i.e. I use it to ignore warnings on generated source folders). It's not meant to be full support for Gradle in Eclipse. Buildship should be handling this classpath/module stuff by default without any major modifications to the gradle EclipsePlugin.

So while the fix @HoldYourWaffle found is done through t

[2018-11-30 07:32] donat commented on #222
@fwgreen Thanks for the update. I'm looking forward to have a stable Eclipse plugin for Kotlin.

[2018-11-30 13:43] regrog commented on #496
Any news about this issue?
I'm facing this problem right now.
Thanks

[2018-12-03 14:36] donat commented on #327
Well, I would like to release Buildship 3.0 as soon as possible. IIRC you recommended me to add the `Eclipse-SourceReferences` entry to the plugin manifest, and I've implemented that. That should help your use-case, right?
Last time I checked, it worked only for the master branch though, but I'm planning to merge the release branch very soon.

[2018-12-03 22:47] calvertdw commented on #222
@GFriedrich I understand why Jetbrains might not want to contribute this feature, but why not Gradle? Surely they want to decouple themselves from being an IntelliJ exclusive product. For instance, my team decided to use Gradle because it supports both IDEs.

[2018-12-04 08:42] oehme commented on #222
We're not in the business of building language support for IDEs ;) Plus, JetBrains is in a much better position to provide support for their own language. We hold the same position with Groovy btw.

We do, to the extent that the IDEs allow us. We are in close contact with JetBrains and will make sure that the Kotlin scripting situation improves.

[2018-12-04 13:36] regrog opened #815 "Java Library transitive dependencies in eclipse"
I asked this in Gradle forum but maybe this is the right place: https://discuss.gradle.org/t/java-library-transitive-dependencies-in-eclipse/29679

In my multiproject build I declare my projects dependencies using api or implementation.
In eclipse everything seems to work fine but running a build using gradle, because of implementation usage, transitive dependencies are (correctly) prevented.

In

[2018-12-04 14:40] fbricon opened #816 "NPEs are thrown if DefaultBuildConfigurationProperties arguments and vmArguments are null"
https://github.com/eclipse/buildship/blob/4ee595bd33bd84cb788debc15900a98af6f05c59/org.eclipse.buildship.core/src/main/java/org/eclipse/buildship/core/internal/configuration/BuildConfigurationPersistence.java#L163-L164
Joiner#join throws an NPE if the iterable is null, which [happens](https://github.com/eclipse/eclipse.jdt.ls/pull/876#issuecomment-443726919) when we try to  initialize a BuildConfi

[2018-12-04 15:42] donat commented on #327
FYI I'm working on publishing the source jars at the moment.

[2018-12-05 11:39] donat commented on #327
@fbricon The [latest snapshot](https://download.eclipse.org/buildship/updates/e410/snapshots/3.x/3.0.0.v20181205-1122-s) contains source jars. I've tested it with the pde-source-lookup, and it works for me.

[2018-12-05 14:01] #816 closed

[2018-12-05 15:52] donat commented on #794
Once again, we've found another performance regression in Buildship 3.0. Can you please do another round with the latest snapshot? I tried to import your sample project, and it finished almost instantaneously.

[2018-12-05 16:39] #768 closed

[2018-12-05 16:40] #614 closed

[2018-12-05 16:40] #726 closed

[2018-12-05 16:41] #326 closed

[2018-12-05 16:43] #530 closed

[2018-12-05 20:02] dukeyin opened #817 ""Refresh Gradle Project" runs the dependencies of compileJava task?"
I have a Gradle 5.0 project using an annotation processor.  Because compilation fails if the generated source file is preexisting, I tried to setup my build script like this:

[code]
However, I am observing that anytime I refresh the Gradle Project in Eclipse, my generated source files get deleted.  Does "Refresh Gradle Project" intentionally execute the prerequisite tasks of `compileJava`, or is

[2018-12-06 07:41] simonjhy opened #818 "We used GradleBuild.withConnection to start a continuous task will block other tasks"
When we upgrade to latest builship3.0, we tried to use withConnection to execute a continuous task instead of using Builship launchConfigurtaionManager to execute a gradle task. But we found the new way will be block other tasks execution.

[2018-12-06 08:04] donat commented on #818
@simonjhy This is the expected behavior. We designed `withConnection` for general usage which requires the workspace root lock. For your use-case, it might make sense to add a method overload which takes a scheduling rule as an argument.

[2018-12-06 08:09] oehme commented on #818
@donat Why does general `withConnection` usage require the workspace root lock? It doesn't change anything in the workspace model.

[2018-12-06 08:09] simonjhy commented on #818
Where I need to add? The implemetion DefaultBuildLauncher or DefaultGradleBuild?

[2018-12-06 08:12] donat commented on #818
@simonjhy I meant that it might make sense for us to introduce a separate API method for your use-case. But in fact @oehme we don't even need that workspace root scheduling rule. I'll double-check why was it added on the first place.

[2018-12-07 13:09] donat commented on #385
Fixed in Buildship 3.0 via https://github.com/eclipse/buildship/pull/792.

[2018-12-07 13:09] #385 closed

[2018-12-07 13:09] #327 closed

[2018-12-07 16:34] donat commented on #794
Closing just to keep the board clean. Please re-open it if we missed something.

[2018-12-07 16:34] #794 closed

[2018-12-07 16:35] #577 closed

[2018-12-07 16:36] donat commented on #577
I haven't had the time to look into this issue. If you still struggle to find a good solution then please open it again.

[2018-12-07 18:05] bakslashr opened #820 "When making transitive projects composite builds, running tests fail for integration tests"
Buildship 2.2.1 worked.
Buildship 2.2.2 and 3.0.0 appears to be causing issues.

Previously, we were able to make transitive dependencies use compositing within eclipse.
This has the effect of instead of the jar files showing up under "Project and External Dependencies" the project folder shows up.

However 2.2.2 and later, after making a project use compositing, when we try to run an integration

[2018-12-10 09:17] donat commented on #818
@simonjhy We've published a [3.0.1 milestone](http://download.eclipse.org/buildship/updates/e410/milestones/3.x) with the fix.

[2018-12-10 09:17] #818 closed

[2018-12-10 10:25] donat opened #821 "Synchronization fails on nested output locations"
https://dev.eclipse.org/recommenders/committers/aeri/v2/#!/problems/57c6e414e4b0a70b6a27f965

[2018-12-10 15:59] pac0rro opened #822 "Buildship should not try to import builds with sub-projects sharing the same directory"
Hi,

I have about twenty projects configured with gradle composite builds. Building an EAR for the project with command line gradle works fine. But I have problems when I import them into eclipse and I submit a **Gradle Refresh**.  It hangs at 35% progress. I have added -d flag (eclipse preferences) and I see:

`16:15:01.454 [LIFECYCLE] [org.gradle.launcher.daemon.server.Daemon]
16:15:01.454 [DEBU

[2018-12-10 17:00] pac0rro commented on #822
I've found that for three small related projects I got eclipse error markers:
"Cannot Query Eclipse model"

![image](https://user-images.githubusercontent.com/604217/49748123-2ed03300-fca5-11e8-881b-6634c0005d2b.png)

[2018-12-10 17:02] donat commented on #822
Can you please paste the stack trace here? To reveal it, right-click on the error marker and select `Properties`.

[2018-12-10 17:03] pac0rro commented on #822
java.lang.IllegalStateException: Duplicate key org.eclipse.buildship.core.internal.util.gradle.CompatEclipseProject@7cbaff02
	at java.util.stream.Collectors.lambda$throwingMerger$0(Collectors.java:133)
	at java.util.HashMap.merge(HashMap.java:1254)
	at java.util.stream.Collectors.lambda$toMap$58(Collectors.java:1320)
	at java.util.stream.ReduceOps$3ReducingSink.accept(ReduceOps.java:169)
	at java.

[2018-12-10 17:07] pac0rro commented on #822
This is the stacktrace for "failed to configure project ..." error maker:
`java.lang.NullPointerException
	at org.eclipse.buildship.core.internal.workspace.BaseConfigurator.lookupEclipseModel(BaseConfigurator.java:125)
	at org.eclipse.buildship.core.internal.workspace.BaseConfigurator.configure(BaseConfigurator.java:72)
	at org.eclipse.buildship.core.internal.workspace.BaseConfigurator.configure(B

[2018-12-11 07:36] donat commented on #822
Your build contains multiple projects that share the same project directory. This use case is not illegal in Gradle. However, Buildship does not cover it. You can works around this by using unique project directories in your build. I'll look into fixing this.

[2018-12-11 08:13] pac0rro commented on #822
Thank you, Donat.
I don't understand what you are saying. Indeed, there is only one project inside a directory.
The project structure is:
`
asd ada
da
d
asd
ads
`

[2018-12-11 08:34] donat commented on #822
Let me illustrate it with an example. Consider the following `settings.gradle` file:
[code]

This is technically valid (but it shouldn't be IMHO).  Also, you can't import it in Buildship and produces the same stack trace you provided.

I'm still yet to find out how it can happen with included builds.

[2018-12-11 08:51] pac0rro commented on #822
Ok, It's not the same case, but produces the same exception. I paste here some `settings.gradle`:

[code]

[code]

[code]

[2018-12-11 09:06] donat commented on #822
Buildship 3.0 only exposed the problem, it was there before too. In 2.0 the overlapping project was configured twice.

Would it fix your IDE setup if you removed the `includeBuild '../SimpleTCPCommunications'` entry from `KafkaProxy`?

[2018-12-11 09:10] pac0rro commented on #822
I will test it

[2018-12-11 11:22] UdoW opened #824 "How can I call "Refresh Gradle Project" from API?"
How can I call "Refresh Gradle Project" from API?

All the refresh project classes are in internal packages and not accessible for my Eclipse plug-in.

How could I do it?

[2018-12-11 14:41] donat commented on #824
Check the _Project Synchronization API_ section in the [Buildship 3.0 release announcement](https://discuss.gradle.org/t/buildship-3-0-is-now-available/29758).

[2018-12-11 14:41] #824 closed

[2018-12-11 16:26] #821 closed

[2018-12-12 06:53] simonjhy commented on #818
@donat Thanks.

[2018-12-12 09:36] #822 closed

[2018-12-12 09:50] pac0rro commented on #822
Donat, it seems you have implemented this feature. What is the roadmap for Buildship 3.0.1?

Probably this fix, solves the following issues:
1. Error marker 'eclipse model not found'
2. Duplicated projects on Gradle Tasks
3. Eclipse / daemon hanging when doing Gradle Refresh
What do you think?
Thank you!!!

[2018-12-12 09:54] donat commented on #822
I'm about to publish a milestone release which I recommend you to install.
Regarding the duplicates, it seems that it's a bug in Gradle itself. I'll go investigate.

[2018-12-12 19:50] kbsasikarthik opened #826 "Gradle 3.4.1- Resolve dependencies .classpath, .runtimeclasspath"
Gradle won't resolve dependencies on .classpath and runtimeclasspath. It keeps on running forever. Only difference is I upgraded my OS to Windows 10. Tried re-installing STS and Gradle many times. My project requirement is to use Gradle 3.4.1 and STS 3.7.1

[2018-12-12 20:08] kbsasikarthik commented on #826
[STS_Problems.docx](https://github.com/eclipse/buildship/files/2673351/STS_Problems.docx)

[2018-12-13 05:16] UdoW commented on #824
Ok, that works. Thanks.

[2018-12-13 07:00] tensberg commented on #790
I encountered the same issue as @ssindelar today, using Spring Tool Suite 3.9.6.RELEASE (Eclipse 4.9.0), Java 11 support installed and Buildship 2.2.1. After updating Buildship to 3.0.0 and refreshing the Gradle project it worked. Looks like the new Buildship version fixed the issue.

[2018-12-13 10:46] donat commented on #822
I agree that it doesn't make sense to list all the project names in the exception message. I already [fixed](https://github.com/eclipse/buildship/commit/f9d0ea5b7c0aa27483767c1a9ff1817331bcf4da) it. On the other hand, your project setup shouldn't even be valid. Composite builds are to allow developers to work on projects that are maintained independently. My suggestion is to refactor your build su

[2018-12-13 10:52] donat commented on #790
I did another round of testing with Eclipse 2018-12 and Buildship 3.0. Works for me.

[2018-12-13 11:31] pac0rro commented on #822
Umm... it seems gradle allows this behaviour:

This situation defeats the purpose of isolation, independent builds. Every project has to be independent.

This is correct for a large number of projects, but Composite Builds came to cover this need and help special projects that are difficult to maintain with plain multi-project builds.

What I 'm missing is that:
- Command line Gradle v4 and v5 bui

[2018-12-13 11:36] pac0rro commented on #822
Right now I am switching my projects to eclipse based projects (no maven / gradle builds).
But in the near future I will try to create a "tryIncludeBuild" groovy function to check if the build ProjectC has been included already. Thus, I will call:

tryIncludeBuild '../ProjectC'

But probably I will have a lot of problems with that approach, I think.

[2018-12-13 11:38] tbrannt commented on #630
Ok, turns out this was because I had 1 gradle root project and 3 child projects. I only got the class files in the "Open Resource" dialog because the search included the parent project. I created a workingset without the parent project and selected that working set for my "Open Resource" dialog. Now it works fine.

[2018-12-13 15:48] ChristianCiach commented on #265
Sad to see that this feature didn't make it for Buildship 3.0. Unfortunately, Buildship is unusable for our company as long as the workspace is in a broken space after synchronization before additional tasks are run. Why no love for annotation processors?

[2018-12-13 16:12] ChristianCiach opened #827 "Mark SourceSet "test" as test resources in Eclipse classpath"
When configuring the Java Build Path in Eclipse, source folders can be marked as "Contains test sources". These folders are then shown with a greenish icon in the Project Explorer and their classpathes are separated when running unit tests from inside Eclipse.

When importing projects into Eclipse using Buildship, entries like this are generated inside the ".classpath" file of a project:

[code]

[2018-12-13 17:16] ChristianCiach commented on #827
Going one step further, libraries that are part of Gradles "testCompileClasspath" or "testRuntimeClasspath" should probably marked as "Visible only for test sources". (This can be configured in the "Libraries" tab of the "Java Build Path" dialog.

The goal of this all is to match the classpath separation of main and test sources of Gradle as closely as possible. It happens all the time for us that